<ion-view view-title="">
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="contentbackgrnd">
        <div class="hero slide-up" cache-src="img/background/salon_1.jpg" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center" on-finish="acceptStyle" ng-style="myStyle" style="background-size:cover;">
        </div>
        <div class="content clear-bg double-padding hero">
            <div class="content">
                <div ui-sref="app.contact" class="avatar" cache-src="img/btn/location.png" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center" on-finish="acceptStyle" ng-style="avaStyle"></div>
                <h3 style="color:#ad3f09 !important;" ui-sref="app.contact">{{'about_on_map' | translate}}</h3>
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="tabs tabs-clear tabs-icon-top static">
            <a onclick="window.open('tel:7978', '_system', 'location=yes')" class="tab-item">
                <i class="icon ion-android-call"></i> {{'about_call' | translate}}
            </a>
            <a onclick="window.open('mailto:info@stolle.by', '_system', 'location=yes')" class="tab-item">
                <i class="icon ion-email"></i> {{'about_letter' | translate}}
            </a>
            <a onclick="window.open('http://stolle.by', '_system')" class="tab-item">
                <i class="icon ion-earth"></i> {{'about_web' | translate}}
            </a>
        </div>
        <div class="content">
            
            <div class="list card">
                <div class="item item-text-wrap">
                    <h2>{{'about_name_1' | translate}}</h2>
                    <p>{{'about_adress_1' | translate}}</p>
                </div>
                <div class="item item-body">
                    <img class="full-image" src="img/inst/1.jpg">
                    <p>{{'about_work_time_1' | translate}}</p>
                    <p>{{'about_work_time_1_1' | translate}}</p>
                    <p><a class="subdued">{{'about_phone_1' | translate}}</a></p>
                </div>
            </div>
            <div class="list card">
                <div class="item item-text-wrap">
                    <h2>{{'about_name_2' | translate}}</h2>
                    <p>{{'about_adress_2' | translate}}</p>
                </div>
                <div class="item item-body">
                    <img class="full-image" src="img/inst/2.jpg">
                    <p>{{'about_work_time_2' | translate}}</p>
                    <p>{{'about_work_time_2_1' | translate}}</p>
                    <p><a class="subdued">{{'about_phone_2' | translate}}</a></p>
                </div>
            </div>
            <div class="list card">
                <div class="item item-text-wrap">
                    <h2>{{'about_name_3' | translate}}</h2>
                    <p>{{'about_adress_3' | translate}}</p>
                </div>
                <div class="item item-body">
                    <img class="full-image" src="img/inst/3.jpg">
                    <p>{{'about_work_time_3' | translate}}</p>
                    <p>{{'about_work_time_3_1' | translate}}</p>
                    <p><a class="subdued">{{'about_phone_3' | translate}}</a></p>
                </div>
            </div>
            <div class="list card">
                <div class="item item-text-wrap">
                    <h2>{{'about_name_4' | translate}}</h2>
                    <p>{{'about_adress_4' | translate}}</p>
                </div>
                <div class="item item-body">
                    <img class="full-image" src="img/inst/4.jpg">
                    <p>{{'about_work_time_4' | translate}}</p>
                    <p>{{'about_work_time_4_1' | translate}}</p>
                    <p><a class="subdued">{{'about_phone_4' | translate}}</a></p>
                </div>
            </div>
            <div class="list card">
                <div class="item item-text-wrap">
                    <h2>{{'about_name_5' | translate}}</h2>
                    <p>{{'about_adress_5' | translate}}</p>
                </div>
                <div class="item item-body">
                    <img class="full-image" src="img/inst/5.jpg">
                    <p>{{'about_work_time_5' | translate}}</p>
                    <p>{{'about_work_time_5_1' | translate}}</p>
                    <p><a class="subdued">{{'about_phone_5' | translate}}</a></p>
                </div>
            </div>
            <div class="list card">
                <div class="item item-text-wrap">
                    <h2>{{'about_name_6' | translate}}</h2>
                    <p>{{'about_adress_6' | translate}}</p>
                </div>
                <div class="item item-body">
                    <img class="full-image" src="img/inst/6.jpg">
                    <p>{{'about_work_time_6' | translate}}</p>
                    <p>{{'about_work_time_6_1' | translate}}</p>
                    <p><a class="subdued">{{'about_phone_6' | translate}}</a></p>
                </div>
            </div>
            <div class="list card">
                <div class="item item-text-wrap">
                    <h2>{{'about_name_7' | translate}}</h2>
                    <p>{{'about_adress_7' | translate}}</p>
                </div>
                <div class="item item-body">
                    <img class="full-image" src="img/inst/7.jpg">
                    <p>{{'about_work_time_7' | translate}}</p>
                    <p>{{'about_work_time_7_1' | translate}}</p>
                    <p><a class="subdued">{{'about_phone_7' | translate}}</a></p>
                </div>
            </div>
            <div class="list card">
                <div class="item item-text-wrap">
                    <h2>{{'about_name_8' | translate}}</h2>
                    <p>{{'about_adress_8' | translate}}</p>
                </div>
                <div class="item item-body">
                    <img class="full-image" src="img/inst/8.jpg">
                    <p>{{'about_work_time_8' | translate}}</p>
                    <p>{{'about_work_time_8_1' | translate}}</p>
                    <p><a class="subdued">{{'about_phone_8' | translate}}</a></p>
                </div>
            </div>
            <div class="list card">
                <div class="item item-text-wrap">
                    <h2>{{'about_name_9' | translate}}</h2>
                    <p>{{'about_adress_9' | translate}}</p>
                </div>
                <div class="item item-body">
                    <img class="full-image" src="img/inst/9.jpg">
                    <p>{{'about_work_time_9' | translate}}</p>
                    <p>{{'about_work_time_9_1' | translate}}</p>
                    <p><a class="subdued">{{'about_phone_9' | translate}}</a></p>
                </div>
            </div>
            <div class="list card">
                <div class="item item-text-wrap">
                    <h2>{{'about_name_10' | translate}}</h2>
                    <p>{{'about_adress_10' | translate}}</p>
                </div>
                <div class="item item-body">
                    <img class="full-image" src="img/inst/10.jpg">
                    <p>{{'about_work_time_10' | translate}}</p>
                    <p>{{'about_work_time_10_1' | translate}}</p>
                    <p><a class="subdued">{{'about_phone_10' | translate}}</a></p>
                </div>
            </div>
            <div class="list card">
                <div class="item item-text-wrap">
                    <h2>{{'about_name_11' | translate}}</h2>
                    <p>{{'about_adress_11' | translate}}</p>
                </div>
                <div class="item item-body">
                    <img class="full-image" src="img/inst/11.jpg">
                    <p>{{'about_work_time_11' | translate}}</p>
                    <p>{{'about_work_time_11_1' | translate}}</p>
                    <p><a class="subdued">{{'about_phone_11' | translate}}</a></p>
                </div>
            </div>
            
        </div>

    </ion-content>
</ion-view>
