<ion-view view-title="Новости и Акции">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="item card-item">
            <div class="card stable-bg ink ink-dark">
                <div class="item item-text-wrap">
                    Раскладной механизм <strong class="positive">Сарафан</strong>

                    <ion-slide-box>
                      <ion-slide cache-src="http://www.olegtronics.com/pizzatempo/img/activity/1.jpg" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center" ng-style="myStyle" style="background-size:cover;">
                      </ion-slide>
                      <ion-slide cache-src="http://www.olegtronics.com/pizzatempo/img/activity/2.jpg" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center" ng-style="myStyle" style="background-size:cover;">
                      </ion-slide>
                      <ion-slide cache-src="http://www.olegtronics.com/pizzatempo/img/activity/3.jpg" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center" ng-style="myStyle" style="background-size:cover;">
                      </ion-slide>
                      <ion-slide cache-src="http://www.olegtronics.com/pizzatempo/img/activity/4.jpg" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center" ng-style="myStyle" style="background-size:cover;">
                      </ion-slide>
                    </ion-slide-box>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
