<ion-view view-title="">
    
    <ion-content class="contentbackgrnd2">

        <div class="card" ng-if="surveys && surveys.length > 0" ng-repeat="survey in surveys | orderBy:'asks_id'">

            <div class="item item-divider item-text-wrap" ng-if="$index == 0">
                <p ng-if="survey.asks_name != 0 && survey.asks_name">{{htmlEntities(survey.asks_name)}}</p>
            </div>

            <div class="item item-divider item-text-wrap">
                <h4 ng-if="survey.asks_message != 0 && survey.asks_message">{{htmlEntities(survey.asks_message)}}</h4>
            </div>

            <div class="item item-text-wrap" ng-if="survey.asks_type == '0'">
                <ion-select  class="item item-text-wrap">
                    <ion-radio name="{{survey.asks_id}}" ng-repeat="answ in survey.asks_answ track by $index" ng-model="answers.answer[survey.asks_id]" ng-value="$index">{{htmlEntities(answ)}}</ion-radio>
                </ion-select>
            </div>
            
            <div class="item item-text-wrap" ng-if="survey.asks_type == '1'">
                <textarea placeholder="{{'survey_text_answer' | translate}}" ng-model="answers.answer[survey.asks_id]" style="padding:15px;width:100%;height:100px;word-wrap: break-word;"></textarea>
            </div>

        </div>

        <div class="card" ng-if="!surveys || surveys.length == 0">
            <div class="item item-text-wrap">
                В данный момент нет никаких опросов.
            </div>
        </div>

        <div class="card" style="box-shadow:none;border:none;background-color:rgba(0,0,0,0);" ng-if="surveys && surveys.length > 0">
            <button ng-click="sendAnswer()" class="button button-balanced button-block">{{'survey_text_send' | translate}}</button>
        </div>

        <p>&nbsp;</p>

    </ion-content>

</ion-view>