<ion-view view-title="">
    
    <ion-content id="calc" ng-class="{expanded:$scope.isExpanded}" class="contentbackgrnd2">

      <!-- ЛОГОТИП -->
      <div class="list card clear-bg flat" style="background-color:rgba(0,0,0,0);text-align:center;margin:4px 0;">
          <img style="box-shadow:none;display: inline-block;vertical-align: middle;" ng-src="img/btn/calc_top.jpg">
      </div>

      <div class="list" style="max-width:70%;margin:0 auto;">
        <div class="item item-text-wrap">
          <h2 style="text-align:center;" class="dark">{{'bill_enter' | translate}}</h2>
        </div>
        <div class="item item-text-wrap" style="background-color: #fff;text-align:right;font-size:30px;color:#6c8d9c;">
          {{expression}} {{'bill_money' | translate}} {{remainer}} {{'bill_money_rest' | translate}}
        </div>
        
        <div class="row">
          <div class="col" style="margin:2px 2px 2px 0;">
            <button class="button square" style="margin-top:0px;margin-bottom:0px;background-color:#6c8d9c;color:#fff;font-size:300%;text-align:center;box-shadow:none;border-radius:0px;line-height:200%;" ng-click="add(1)">1</button>
          </div>
          <div class="col" style="margin:2px;">
            <button class="button square" style="margin-top:0px;margin-bottom:0px;background-color:#6c8d9c;color:#fff;font-size:300%;text-align:center;box-shadow:none;border-radius:0px;line-height:200%;" ng-click="add(2)">2</button>
          </div>
          <div class="col" style="margin:2px 0 2px 2px;">
            <button class="button square" style="margin-top:0px;margin-bottom:0px;background-color:#6c8d9c;color:#fff;font-size:300%;text-align:center;box-shadow:none;border-radius:0px;line-height:200%;" ng-click="add(3)">3</button>
          </div>
        </div>
        <div class="row">
          <div class="col" style="margin:2px 2px 2px 0;">
            <button class="button square" style="margin-top:0px;margin-bottom:0px;background-color:#6c8d9c;color:#fff;font-size:300%;text-align:center;box-shadow:none;border-radius:0px;line-height:200%;" ng-click="add(4)">4</button>
          </div>
          <div class="col" style="margin:2px;">
            <button class="button square" style="margin-top:0px;margin-bottom:0px;background-color:#6c8d9c;color:#fff;font-size:300%;text-align:center;box-shadow:none;border-radius:0px;line-height:200%;" ng-click="add(5)">5</button>
          </div>
          <div class="col" style="margin:2px 0 2px 2px;">
            <button class="button square" style="margin-top:0px;margin-bottom:0px;background-color:#6c8d9c;color:#fff;font-size:300%;text-align:center;box-shadow:none;border-radius:0px;line-height:200%;" ng-click="add(6)">6</button>
          </div>
        </div>
        <div class="row">
          <div class="col" style="margin:2px 2px 2px 0;">
            <button class="button square" style="margin-top:0px;margin-bottom:0px;background-color:#6c8d9c;color:#fff;font-size:300%;text-align:center;box-shadow:none;border-radius:0px;line-height:200%;" ng-click="add(7)">7</button>
          </div>
          <div class="col" style="margin:2px;">
            <button class="button square" style="margin-top:0px;margin-bottom:0px;background-color:#6c8d9c;color:#fff;font-size:300%;text-align:center;box-shadow:none;border-radius:0px;line-height:200%;" ng-click="add(8)">8</button>
          </div>
          <div class="col" style="margin:2px 0 2px 2px;">
            <button class="button square" style="margin-top:0px;margin-bottom:0px;background-color:#6c8d9c;color:#fff;font-size:300%;text-align:center;box-shadow:none;border-radius:0px;line-height:200%;" ng-click="add(9)">9</button>
          </div>
        </div>
        <div class="row">
          <div class="col" style="margin:2px 2px 2px 0;">
            <button class="button square" style="margin-top:0px;margin-bottom:0px;background-color:#6c8d9c;color:#fff;font-size:300%;text-align:center;box-shadow:none;border-radius:0px;line-height:200%;"></button>
          </div>
          <div class="col" style="margin:2px;">
            <button class="button square" style="margin-top:0px;margin-bottom:0px;background-color:#6c8d9c;color:#fff;font-size:300%;text-align:center;box-shadow:none;border-radius:0px;line-height:200%;" ng-click="add(0)">0</button>
          </div>
          <div class="col" style="margin:2px 0 2px 2px;">
            <button class="button icon ion-backspace-outline square" style="margin-top:0px;margin-bottom:0px;background-color:#6c8d9c;color:#fff;font-size:300%;text-align:center;box-shadow:none;border-radius:0px;line-height:200%;" ng-click="removeText()">
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col" style="margin:2px 0;">
            <button class="button button-large" ng-click="calcbill()" style="background-color: #ad3f09;color:#fff;width:100%;font-weight:normal;font-size:200%;text-align:center;box-shadow:none;border-radius:0px;">{{'bill_ready' | translate}}</button>
          </div>
        </div>
      </div>

      <div class="list card clear-bg flat" style="background-color:rgba(0,0,0,0);text-align:center;margin:4px 0;">
          <img style="box-shadow:none;display: inline-block;vertical-align: middle;" ng-src="img/btn/calc_bottom_divider.jpg">
      </div>

      <p>&nbsp;</p>
  </ion-content>
</ion-view>
