<ion-view view-title="Мебель">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content">
            
            <div class="list">

                <div class="card dark-bg">
                    <a class="item item-bg-image" style="text-align:center;max-height:300px !important;height:{{dev_height}}px !important;" ui-sref="app.gallery({furniId: 1})" ng-click="takename('Диваны');">
                        <h2>Диваны</h2>
                        <img ng-src="img/cat_sofas/1.jpg" style="width:100%;height:auto;">
                    </a>
                </div>

                <div class="card dark-bg">
                    <a class="item item-bg-image" style="text-align:center;max-height:300px !important;height:{{dev_height}}px !important;" ui-sref="app.gallery({furniId: 1})" ng-click="takename('Диван-кровати');">
                        <h2>Диван-кровати</h2>
                        <img ng-src="img/cat_sofas/2.jpg" style="width:100%;height:auto;">
                    </a>
                </div>

                <div class="card dark-bg">
                    <a class="item item-bg-image" style="text-align:center;max-height:300px !important;height:{{dev_height}}px !important;" ui-sref="app.gallery({furniId: 1})" ng-click="takename('Кровати / Тахты');">
                        <h2>Кровати</h2>
                        <img ng-src="img/cat_sofas/3.jpg" style="width:100%;height:auto;">
                    </a>
                </div>

                <div class="card dark-bg">
                    <a class="item item-bg-image" style="text-align:center;max-height:300px !important;height:{{dev_height}}px !important;" ui-sref="app.gallery({furniId: 1})" ng-click="takename('Кресла');">
                        <h2>Кресла</h2>
                        <img ng-src="img/cat_sofas/4.jpg" style="width:100%;height:auto;">
                    </a>
                </div>

                <div class="card dark-bg">
                    <a class="item item-bg-image" style="text-align:center;max-height:300px !important;height:{{dev_height}}px !important;" ui-sref="app.gallery({furniId: 1})" ng-click="takename('Стулья');">
                        <h2>Предметы интерьера</h2>
                        <img ng-src="img/cat_sofas/5.jpg" style="width:100%;height:auto;">
                    </a>
                </div>

                <div class="card dark-bg">
                    <a class="item item-bg-image" style="text-align:center;max-height:300px !important;height:{{dev_height}}px !important;" ui-sref="app.gallery({furniId: 1})" ng-click="takename('Пуфы');">
                        <h2>Со скидкой</h2>
                        <img ng-src="img/cat_sofas/6.jpg" style="width:100%;height:auto;">
                    </a>
                </div>

            </div>

        </div>
    </ion-content>
</ion-view>
