<ion-view view-title="{{viewtitle}}">
          <ion-slide-box on-slide-changed="slideHasChanged($index)">
              <ion-slide>
                <ion-content has-header="true">
                <button ng-click="next();" class="button button-clear button-large icon-right ion-chevron-right"> Сыры </button>
                <div class="hero" ng-style="myStyle">
                    <div class="content" ng-click="switchsize();">
                        <div id="i1" class="constrsel" style="height:{{constr_div1 / 2}}px;width:{{constr_div1}}px;border-radius:{{constr_div1}}px {{constr_div1}}px 0 0;">{{storesizes[0].siz}} см
                            <h4 style="color:#fff;padding-top:10px;">{{currsizename}}</h4>
                        </div>
                        <div id="i2" ng-class="{'constrsel': size26, 'constr': !size26}" style="height:{{constr_div2 / 2}}px;width:{{constr_div2}}px;border-radius:{{constr_div2}}px {{constr_div2}}px 0 0;">{{storesizes[1].siz}} см</div>
                        <div id="i3" ng-class="{'constrsel': size31, 'constr': !size31}" style="height:{{constr_div3 / 2}}px;width:{{constr_div3}}px;border-radius:{{constr_div3}}px {{constr_div3}}px 0 0;">{{storesizes[2].siz}} см</div>
                        <div id="i4" ng-class="{'constrsel': size45, 'constr': !size45}" style="height:{{constr_div4 / 2}}px;width:{{constr_div4}}px;border-radius:{{constr_div4}}px {{constr_div4}}px 0 0;">{{storesizes[3].siz}} см</div>
                    </div>
                </div>
                <div class="content double-padding">
                    <div style="display:inline-block;margin:2px;" ng-repeat="ingrs in getingrs() track by $index"><img cache-src="http://www.olegtronics.com/pizzatempo/img/{{ingrs.pic}}" style="vertical-align:middle;"> <span>{{ingrs.name}}</span></div>
                    <div class="card>">В состав базовой пиццы уже входит молодой итальянский сыр Моцарелла и соус для пиццы.</div>
                    <p>&nbsp;</p>
                </div>
             
              </ion-content>
              </ion-slide>
              <ion-slide>
              <ion-content has-header="true">
                  <button ng-click="previous();" class="button button-clear button-large icon-left ion-chevron-left"> Размер пиццы </button>
                  <button ng-click="next();" class="button button-clear button-large icon-right ion-chevron-right"> Соусы </button>
                    <ion-list>
                        <div class="card" ng-repeat="ing in ingrcheese">
                          <a class="item item-thumbnail-left" style="min-height:120px;padding-left:130px;">
                              <img cache-src="http://www.olegtronics.com/pizzatempo/img/{{::ing.image}}" style="max-width:120px;max-height:120px;top:0px;left:0px;border-radius:0%;">
                              <h2>{{ing.name}}</h2>
                              
                                <div class="tabs tabs-light tabs-icon-top static">
                                    <button class="button button-clear button-calm flat waves-effect waves-button waves-light icon ion-minus-round" ng-click="remingred(ing);" style="padding:5px;"></button>
                                    <button class="button button-clear flat waves-effect waves-button waves-light" style="padding:5px;"><h2 style="color:#000;">{{pieces(ing.id)}}</h2></button>
                                    <button class="button button-clear button-calm flat waves-effect waves-button waves-light icon ion-plus-round" ng-click="addingred(ing);" style="padding:5px;"></button>
                                </div>
                            
                          </a>
                      </div>
                    </ion-list>
                    <p>&nbsp;</p>

                </ion-content>
              </ion-slide>
              <ion-slide>
              <ion-content has-header="true">
                  <button ng-click="previous();" class="button button-clear button-large icon-left ion-chevron-left"> Сыры </button>
                  <button ng-click="next();" class="button button-clear button-large icon-right ion-chevron-right"> Мясо </button>
                    <ion-list>
                        <div class="card" ng-repeat="ing in ingrsouce">
                          <a class="item item-thumbnail-left" style="min-height:120px;padding-left:130px;">
                              <img cache-src="http://www.olegtronics.com/pizzatempo/img/{{::ing.image}}" style="max-width:120px;max-height:120px;top:0px;left:0px;border-radius:0%;">
                              <h2>{{ing.name}}</h2>

                                <div class="tabs tabs-light tabs-icon-top static">
                                    <button class="button button-clear button-calm flat waves-effect waves-button waves-light icon ion-minus-round" ng-click="remingred(ing);" style="padding:5px;"></button>
                                    <button class="button button-clear flat waves-effect waves-button waves-light" style="padding:5px;"><h2 style="color:#000;">{{pieces(ing.id)}}</h2></button>
                                    <button class="button button-clear button-calm flat waves-effect waves-button waves-light icon ion-plus-round" ng-click="addingred(ing);" style="padding:5px;"></button>
                                </div>

                          </a>
                      </div>
                    </ion-list>
                    <p>&nbsp;</p>

                </ion-content>
              </ion-slide>
              <ion-slide>
              <ion-content has-header="true">
                  <button ng-click="previous();" class="button button-clear button-large icon-left ion-chevron-left"> Соусы </button>
                  <button ng-click="next();" class="button button-clear button-large icon-right ion-chevron-right"> Овощи </button>
                    <ion-list>
                        <div class="card" ng-repeat="ing in ingrmeat">
                          <a class="item item-thumbnail-left" style="min-height:120px;padding-left:130px;">
                              <img cache-src="http://www.olegtronics.com/pizzatempo/img/{{::ing.image}}" style="max-width:120px;max-height:120px;top:0px;left:0px;border-radius:0%;">
                              <h2>{{ing.name}}</h2>

                                <div class="tabs tabs-light tabs-icon-top static">
                                    <button class="button button-clear button-calm flat waves-effect waves-button waves-light icon ion-minus-round" ng-click="remingred(ing);" style="padding:5px;"></button>
                                    <button class="button button-clear flat waves-effect waves-button waves-light" style="padding:5px;"><h2 style="color:#000;">{{pieces(ing.id)}}</h2></button>
                                    <button class="button button-clear button-calm flat waves-effect waves-button waves-light icon ion-plus-round" ng-click="addingred(ing);" style="padding:5px;"></button>
                                </div>

                          </a>
                      </div>
                    </ion-list>
                    <p>&nbsp;</p>

                </ion-content>
              </ion-slide>
              <ion-slide>
              <ion-content has-header="true">
                  <button ng-click="previous();" class="button button-clear button-large icon-left ion-chevron-left"> Мясо </button>
                    <ion-list>
                        <div class="card" ng-repeat="ing in ingrvegat">
                          <a class="item item-thumbnail-left" style="min-height:120px;padding-left:130px;">
                              <img cache-src="http://www.olegtronics.com/pizzatempo/img/{{::ing.image}}" style="max-width:120px;max-height:120px;top:0px;left:0px;border-radius:0%;">
                              <h2>{{ing.name}}</h2>

                                <div class="tabs tabs-light tabs-icon-top static">
                                    <button class="button button-clear button-calm flat waves-effect waves-button waves-light icon ion-minus-round" ng-click="remingred(ing);" style="padding:5px;"></button>
                                    <button class="button button-clear flat waves-effect waves-button waves-light" style="padding:5px;"><h2 style="color:#000;">{{pieces(ing.id)}}</h2></button>
                                    <button class="button button-clear button-calm flat waves-effect waves-button waves-light icon ion-plus-round" ng-click="addingred(ing);" style="padding:5px;"></button>
                                </div>

                          </a>
                      </div>
                    </ion-list>
                    <p>&nbsp;</p>

                </ion-content>
              </ion-slide>
            </ion-slide-box>

    </ion-content>

        <div class="tabs tabs-light">

          <a class="tab-item flat waves-effect waves-button waves-light" style="padding:0px;"><p class="button-pagraph"><strong class="assertive">{{currprice()}} руб.</strong> <br/><span class="dark">{{currsize}} см</span></p></a>
          
          <a class="tab-item tab-stable flat waves-effect waves-button waves-light item-text-wrap" ng-click="addcart();"><p class="button-pagraph"><strong class="balanced">Добавить в заказ</strong> <br/><span class="dark">1 шт</span></p></a>
          
          <a class="tab-item assertive flat waves-effect waves-button waves-light" ng-click="subcart();"><i class="icon ion-trash-a"></i></a>
        </div>

</ion-view>
