<ion-view view-title="{{'contact2_top' | translate}}">
    <ion-content class="light-bg">
        <div class="list half">

            <div class="card card-gallery item item-text-wrap" data-ink-color="#CD3385" data-ink-opacity=".5">
                <h3 class="light-bg dark padding equalex" ng-style="heightDiv">{{'contact2_vk' | translate}}</h3>
                <a onclick="window.open('https://vk.com/vl_beautybar', '_system')">
                    <img class="full-size" style="opacity:.9 !important;margin:0px auto;" cache-src="img/btn/vk2.png" />
                </a>
            </div>

            <p>&nbsp;</p>

        </div>
        <div class="list half">

            <div class="card card-gallery item item-text-wrap" data-ink-color="#CD3385" data-ink-opacity=".5">
                <h3 class="light-bg dark padding equalex" ng-style="heightDiv">{{'contact2_fb' | translate}}</h3>
                <a onclick="window.open('https://www.facebook.com/VL-BEAUTY-BAR-1818268945071918/', '_system')">
                    <img class="full-size" style="opacity:.9 !important;margin:0px auto;" cache-src="img/btn/facebook.png" />
                </a>
            </div>

            <p>&nbsp;</p>

        </div>
    </ion-content>
</ion-view>
