<ion-view view-title="Зона обслуживания">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero has-mask" ng-style="myStyle">
            <div class="content">
                <div class="avatar" cache-src="http://www.olegtronics.com/pizzatempo/img/menu/quadrat_geo.jpg" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center"></div>
                <h3>г. Минск</h3>
                <p>&nbsp;</p>
            </div>
        </div>
        
        <div class="content" id="map" ng-style="mapHeight">
        </div>

    </ion-content>
</ion-view>
