<ion-view view-title="Доставка мебели">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="item card-item">
            <div class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/logotype.png');border-radius:0% !important;background-size:contain;background-repeat:no-repeat;background-position:center center;"></span>
                    <strong class="positive">Минск</strong>
                    <br/>
                    В Минске доставка и сборка бесплатна!                     
                    <a class="image"><img src="img/countries/belarus.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/logotype.png');border-radius:0% !important;background-size:contain;background-repeat:no-repeat;background-position:center center;"></span>
                    <strong class="positive">По Беларуси, за пределами Минска.</strong>
                    <br/>
                    По Беларуси, за пределами Минска.

                    0,30 у.е./км 

                    Сборка изделия конечно же включена!

                    Путь доставки считается до пункта назначения и назад.
                    <a class="image"><img src="img/countries/belarus.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/logotype.png');border-radius:0% !important;background-size:contain;background-repeat:no-repeat;background-position:center center;"></span>
                    <strong class="positive">В Российскую федерацию.</strong>
                    <br/>
                    Стоимость доставки в Москву, либо Санкт-Петербург: 

                    · Собственным транспортом 
                    (11 кубических метров) в который помещаются, в зависимости от размеров, один угловой и один ровный диван. Плюс сборка изделия. 

                    0,30 у.е./км 
                    (стоимость до Москвы примерно 420 у.е.) 

                    · Автотранспорт транспортной компании (20 кубических метров) 

                    0,46 у.е./км 
                    (стоимость до Москвы примерно 640 у.е.) 

                    · Найм фуры 

                    0,72 у.е./км 
                    (стоимость до Москвы примерно 1000 у.е.) 

                    · Попутным грузом - часть от занятой фуры (стоимость до Москвы: половину фуры 500 у.е., четверть фуры 250 у.е. и т.д.) 

                    Путь доставки считается до пункта назначения и назад! 
                    <a class="image"><img src="img/countries/russia.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/logotype.png');border-radius:0% !important;background-size:contain;background-repeat:no-repeat;background-position:center center;"></span>
                    <strong class="positive">В остальные Страны</strong>
                    <br/>
                    Просчитывается индивидуально.
                    <a class="image"><img src="img/countries/eu.png">
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
