<ion-view view-title="">
    <ion-content class="contentbackgrnd2">
        <div class="list half">

            <div ui-sref="app.gifts-detail({giftId: gift.gifts_id})" class="card card-gallery item item-text-wrap item-bg-image equalex" cache-src="http://www.olegtronics.com/admin/img/gifts/{{gift.gifts_institution}}/th/{{gift.gifts_pic}}" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center" ng-style="myStyle" ng-repeat="gift in gifts" ng-if="$even">
                <h3 class="padding">{{htmlEntities(gift.gifts_name)}}</h3>
                <p class="card-footer text-right light" style="position:absolute;bottom:12px;right:0px;">
                    <span class="stollebackred" style="font-size:16px;font-weight:bold;padding:7px;">{{gift.gifts_points}} <i class="icon ion-star light"></i></span>
                </p>
            </div>

        </div>
        <div class="list half">

            <div ui-sref="app.gifts-detail({giftId: gift.gifts_id})" class="card card-gallery item item-text-wrap item-bg-image equalex" cache-src="http://www.olegtronics.com/admin/img/gifts/{{gift.gifts_institution}}/th/{{gift.gifts_pic}}" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center" ng-style="myStyle" ng-repeat="gift in gifts" ng-if="$odd">
                <h3 class="padding">{{htmlEntities(gift.gifts_name)}}</h3>
                <p class="card-footer text-right light" style="position:absolute;bottom:12px;right:0px;">
                    <span class="stollebackred" style="font-size:16px;font-weight:bold;padding:7px;">{{gift.gifts_points}} <i class="icon ion-star light"></i></span>
                </p>
            </div>

        </div>
    </ion-content>
</ion-view>
