<ion-view view-title="">
    <ion-content class="contentbackgrnd2">
        <div class="hero" cache-src="{{selectpic}}" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center" on-finish="acceptStyle" ng-style="myStyle" style="background-size:cover;" ng-if="gift.gifts_when > '2'">
            <div class="content">
                <button class="button button-assertive icon-left ion-star pull-left">{{gift.gifts_points}} </button>
                <button ng-click="getbonus(gift.gifts_points, 0);" class="button button-assertive pull-right">{{'gifts_detail_get' | translate}}</button>
            </div>
        </div>
        <div class="hero" cache-src="{{selectpic}}" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center" on-finish="acceptStyle" ng-style="myStyle" style="background-size:cover;" ng-if="gift.gifts_when == '2'">
            <div class="content">
                <!-- <button class="button button-assertive icon-left ion-star pull-left">{{gift.gifts_points}} </button> -->
                <button ng-click="getbonus(0, 1);" class="button button-assertive pull-right">{{'gifts_detail_get' | translate}}</button>
            </div>
        </div>
        <div class="mid-bar clear-bg z1 padding flat" ng-style="mapHeight">
            <h3 class="stolletextred">{{htmlEntities(gift.gifts_name)}}</h3>
            <h4 class="stolletextred">{{htmlEntities(gift.gifts_desc)}}</h4>
        </div>
    </ion-content>
</ion-view>
