<ion-view view-title="">
    <ion-content class="contentbackgrnd3">

        <div class="list card clear-bg flat" style="height:{{card_height}}px !important;text-align:center;background-color:rgba(0,0,0,0);margin:4px 0;">
            <img ng-src="img/btn/share_top.jpg" style="width:100%;height:auto;box-shadow:none;" />
        </div>
        
        <div class="content">
            <div class="list">
                <div class="item item-divider" style="text-align:center;">{{'group_enter' | translate}}</div>

                <div onclick="window.open('https://ru-ru.facebook.com/stoleminsk.by/', '_system')" class="item item-icon-left item-icon-right"><i class="icon ion-social-facebook"></i> {{'group_fb' | translate}} <i class="icon ion-chevron-right"></i></div>

                <div onclick="window.open('https://www.instagram.com/stolle_minsk/', '_system')" class="item item-icon-left item-icon-right"><i class="icon ion-social-instagram-outline"></i> {{'group_ig' | translate}} <i class="icon ion-chevron-right"></i></div>

                <div onclick="window.open('https://vk.com/club79798552', '_system')" class="item item-icon-left item-icon-right"><i style="width:25px;height:25px;left:20px;top:11px;" class="icon ion_vk"></i> {{'group_vk' | translate}} <i class="icon ion-chevron-right"></i></div>
            </div>
        </div>

    </ion-content>
</ion-view>
