<ion-view view-title="">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero has-mask" cache-src="http://www.olegtronics.com/admin/img/icons/social_1.jpg" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center" on-finish="acceptStyle" ng-style="myStyle" style="background-size:cover;">
            <div class="content">
                <a onclick="window.open('http://www.vk.com/', '_system')" target="_blank" class="avatar" style="background-image:url('');background-color:#0056FF;font-size:80px;"><i class="icon ion-thumbsup"></i></a>
            </div>
        </div>
        
        <div class="content dark-bg double-padding hero" ng-style="mapHeight">
            <h4>{{'like_txt_1' | translate}}</h4>
            <p>{{'like_txt_2' | translate}}</p>
            <a>
                <img src="img/vk.png" onclick="window.open('http://www.vk.com/', '_system')" class="button button-fab button-positive" style="border:2px solid #fff;margin:10px;" />
                {{'like_txt_3' | translate}}
            </a>
        </div>

    </ion-content>
</ion-view>
