<ion-view>
  <ion-content style="top:0;background-image:url('img/background/back_login.jpg');background-size:cover;background-repeat:no-repeat;background-position:center center;">
    <div class="centering" ng-if="intconnect && !regform" style="text-align:center;">
        <i class="icon ion-loading-c"></i>
        <br/>
        <!-- <h2 class="button button-balanced button-full animated infinite pulse">{{'login_loading' | translate}}</h2> -->
        <img ng-if="!user.name || user.name == '' || user.name == '0'" style="width:50%;" src="img/sign.png">
        <h4 class="stolletextdarkred" ng-if="user.name && user.name != '' && user.name != '0'">{{'login_hello' | translate}}, <br/><strong>{{user.name}}</strong></h4>
    </div>
    <div class="card centering" ng-if="!intconnect">
    	<div class="item item-text-wrap padding">
    		<h2 class="assertive">{{'login_txt_1' | translate}}</h2>
    	</div>
    </div>
    <div class="card centering" ng-if="!intconnectupd">
    	<div class="item item-text-wrap padding">
    		<h2 class="assertive">{{'login_txt_2' | translate}}</h2>
    	</div>
    </div>
    <div class="row row-center" ng-if="regform && intconnect">
        <div class="col col-center">
            
            <form name="myForm">
                <div class="list">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <div class="item item-input item-stacked-label" style="padding-left:0px;">
                        <span class="input-label dark">{{'profile1_mobile' | translate}}</span><input id="mobconf" class="dark padding" style="background-color:#fff;" ng-model="user.mob" ng-pattern="onlyNumbers" ng-disabled="user.mob_confirm == '1'" name="mob" type="text" placeholder="{{'profile1_mobile_placeholder' | translate}}">
                        <span class="assertive" ng-if="myForm.mob.$error.pattern">{{'profile1_mobile_warn' | translate}}</span>
                    </div>

                    <div class="item item-input item-stacked-label" ng-if="user.mob_confirm != '1'" style="padding-left:0px;">
                        <button style="margin-bottom: 0px;margin-top:auto;" ng-click="confirmTel(user, adr)" class="button button-positive button-block" ng-disabled="myForm.mob.$error.pattern">
                            {{'profile1_confirm_sms' | translate}}
                        </button>
                    </div>

                    <div class="item item-input item-stacked-label" ng-if="smsOrdered == '1' && smsConfirmed != '1'" style="padding-left:0px;padding-top:5px !important;">
                            <span class="input-label assertive">{{'profile1_phonerepeat_body' | translate}}</span><input class="dark padding" style="background-color:#fff;" ng-model="user.codes" name="codes" type="text" placeholder="{{'profile1_phonerepeat_title' | translate}}">
                    </div>

                    <div class="item item-input item-stacked-label" ng-if="smsOrdered == '1' && smsConfirmed != '1'" style="padding-left:0px;">
                        <button style="margin-bottom: 0px;margin-top:auto;" ng-click="confirmSMS()" class="button button-balanced button-block">
                            {{'profile1_confirm' | translate}}
                        </button>
                    </div>

                    <label class="item item-input item-stacked-label" style="padding-left:0px;">
                        <span class="input-label dark">{{'profile1_name' | translate}}</span><input class="dark padding" type="text" ng-model="user.name" placeholder="{{'profile1_name' | translate}}">
                    </label>
                    <label class="item item-input item-stacked-label" style="padding-left:0px;">
                        <span class="input-label dark">{{'profile1_email' | translate}}</span><input class="dark padding" ng-model="user.email" type="email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" placeholder="{{'profile1_email_placeholder' | translate}}">
                    </label>

                    <br/>

                    <button class="button button-balanced button-block" ng-click="confirmData(user, adr);" ng-if="user.mob && user.name && user.email">
                        {{'login_goon' | translate}}
                    </button>

                    <p>
                        {{'login_policy' | translate}} <span class="positive" ui-sref="policy">{{'login_policy_accept' | translate}}</span>
                    </p>

                    <p>&nbsp;</p>

                    <div id="htmlentitydecodediv" class="item row" style="display:none;"></div>

                </div>
            </form>
        </div>
    </div>
  </ion-content>
</ion-view>
