<ion-view>
  <ion-content>

    <div class="centering row">
        <div ui-sref="app.main" class="col col-50" style="width:49,5%;vertical-align:top;">
            <img ng-src="img/btn/btn_order.png" style="width:100%;height:auto;box-shadow:none;" />
            <div style="display:block;margin:0 auto;text-align:center;">Заказать</div>
        </div>
        <div class="col" style="width:1%;vertical-align:top;border-left:1px solid #6c8d9c;">
        </div>
        <div onclick="window.open('tel:7978', '_system', 'location=yes')" class="col col-50" style="width:49,5%;vertical-align:top;">
            <img ng-src="img/btn/btn_call.png" style="width:100%;height:auto;box-shadow:none;" />
            <div style="display:block;margin:0 auto;text-align:center;">Позвонить</div>
        </div>
    </div>

    <p>&nbsp;</p>

    <div id="htmlentitydecodediv" class="item row" style="display:none;"></div>

  </ion-content>
</ion-view>
