<ion-view align-title="left" hide-nav-bar="true">
  <ion-content class="contentbackgrnd animated fadeIn">

    <!-- ЛОГОТИП -->
    <div class="list card clear-bg flat" style="background-color:rgba(0,0,0,0);height:{{logo_height}}px !important;text-align:center;margin:4px 0;">
        <img style="box-shadow:none;height:{{logo_height}}px !important;display: inline-block;vertical-align: middle;" ng-src="img/btn/main_header.jpg">
    </div>

    <!-- ПОЗВОНИТЬ И КУПИТЬ -->
    <!--<div class="list card clear-bg flat" style="background-color:#788e9b;margin:4px 0;">
    <div class="row">
        <div ui-sref="app.store-categories({catIngr: 16})" class="col col-50" style="width:49,5%;vertical-align:top;">
            <img ng-src="img/btn/btn_order.png" style="width:70%;height:auto;box-shadow:none;margin:0 5% 0 auto;" />
        </div>
        <div class="col" style="width:1%;vertical-align:top;border-left:1px solid #fff;">
        </div>
        <div onclick="window.open('tel:7978', '_system', 'location=yes')" class="col col-50" style="width:49,5%;vertical-align:top;">
            <img ng-src="img/btn/btn_call.png" style="width:70%;height:auto;box-shadow:none;margin:0 auto 0 5%;" />
        </div>
    </div>
    </div>-->

    <!-- ДОСТАВКА -->
    <div ui-sref="app.store-categories({catIngr: 16})" class="list card clear-bg flat" style="height:{{card_height}}px !important;text-align:center;background-color:rgba(0,0,0,0);margin:4px 0;">
      <img ng-src="img/btn/main_order.jpg" style="width:100%;height:auto;box-shadow:none;" />
    </div>

    <!-- ПОЗВОНИТЬ -->
    <div ng-click="openCallModal()" class="list card clear-bg flat" style="height:{{card_height}}px !important;text-align:center;background-color:rgba(0,0,0,0);margin:4px 0 7px 0;">
      <img ng-src="img/btn/main_call_long.jpg" style="width:100%;height:auto;box-shadow:none;margin-top:-10px;" />
    </div>

    <!-- КАРТА ПОСТОЯННОГО КЛИЕНТА -->
    <div ng-click="gotoCard()" class="list card clear-bg flat" style="background-color:rgba(0,0,0,0);height:{{card_height}}px !important;text-align:center;margin:4px 0;">
        <img ng-src="img/btn/main_loyaltycard.jpg" style="width:100%;height:auto;box-shadow:none;" />
    </div>

    <!-- НОВОСТИ -->
    <div ui-sref="app.news" class="list card clear-bg flat" ng-if="newsshow" style="height:{{card_height}}px !important;text-align:center;background-color:rgba(0,0,0,0);margin:4px 0;">
      <img ng-src="img/btn/main_news.png" style="width:100%;height:auto;box-shadow:none;" />
    </div>

    <!-- МЕНЮ -->
    <div class="list card clear-bg flat" style="background-color:rgba(0,0,0,0);margin:4px 0;">
      <div class="row">
        <div class="col col-50" style="width:49,5%;vertical-align:top;">
          <img ui-sref="app.termsofdelivery" ng-src="img/btn/main_menu_top_left.jpg" style="width:100%;height:auto;box-shadow:none;" />
          <div style="display:block;max-width:100px;margin:0 20% 0 auto;text-align:center;">Правила доставки</div>
        </div>
        <div class="col" style="width:1%;vertical-align:top;border-left:1px solid #6c8d9c;">
          
        </div>
        <div class="col col-50" style="width:49,5%;vertical-align:top;">
          <img ui-sref="app.contact" ng-src="img/btn/main_menu_top_right.jpg" style="width:100%;height:auto;box-shadow:none;" />
          <div style="display:block;max-width:100px;margin:0 auto 0 20%;text-align:center;">Найти нас</div>
        </div>
      </div>
      <div class="row">
        <div class="col" style="background-color:rgba(0,0,0,0);margin-left:0px;margin-right:0px;width:100%;">
          <img ng-src="img/btn/main_horizontal_divider.jpg" style="width:100%;height:auto;box-shadow:none;" />
        </div>
      </div>
      <div class="row">
        <div ui-sref="app.group" class="col col-50" style="width:49,5%;vertical-align:top;">
          <img ng-src="img/btn/main_menu_bottom_left.jpg" style="width:100%;height:auto;box-shadow:none;" />
          <div style="display:block;max-width:100px;margin:0 20% 0 auto;text-align:center;">Вступить <br/>в группу</div>
        </div>
        <div class="col" style="width:1%;vertical-align:top;border-left:1px solid #6c8d9c;">
          
        </div>
        <div ui-sref="app.share" class="col col-50" style="width:49,5%;vertical-align:top;">
          <img ng-src="img/btn/main_menu_bottom_right.jpg" style="width:100%;height:auto;box-shadow:none;" />
          <div style="display:block;max-width:100px;margin:0 auto 0 20%;text-align:center;">Делитесь <br/>с друзьями</div>
        </div>
      </div>
    </div>

    <!-- ПЕРВЫЙ ПОДАРОК -->
    <div ui-sref="app.gifts-detail({giftId: firstgift.gifts_id})" class="list card clear-bg flat" ng-if="firstgift" style="height:{{card_height}}px !important;text-align:center;background-color:rgba(0,0,0,0);margin:4px 0;">
         <img ng-src="img/btn/main_firstgift.jpg" style="width:100%;height:auto;box-shadow:none;" />
    </div>

    <!-- ПОДАРКИ ЗА БАЛЛЫ -->
    <div ui-sref="app.gifts" ng-if="giftsshow" class="list card clear-bg flat" style="height:{{card_height}}px !important;text-align:center;background-color:rgba(0,0,0,0);margin:4px 0 7px 0;padding:0;">
      <div class="row" style="padding:0;">
        <div class="col" style="vertical-align:top;text-align:center;background-image:url('img/btn/main_gifts_label.jpg');background-size:100% auto;background-repeat:no-repeat;height:{{card_height}}px !important;background-position:center center;">
        </div>
        <div class="col" style="vertical-align:top;text-align:center;height:{{card_height}}px !important;padding:0px;" cache-src="http://www.olegtronics.com/admin/img/gifts/{{gift.gifts_institution}}/th/{{gift.gifts_pic}}" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center" on-finish="acceptBgStyle" ng-style="myBgStyle" ng-repeat="gift in gifts" ng-if="$even">
          <div style="display:block;width:80%;height:55%;margin:0px auto auto auto;background-image:url('img/btn/octagon_orange.png');background-size:100% auto;background-repeat:no-repeat;background-position:center center;">
            <div style="font-size:130%;font-weight:bold;line-height:100%;display: block;width:100%;overflow:hidden;padding:4px 2px;height:60%;">{{gift.gifts_name}}</div>
            <b style="display:block;width:100%;height:30%;font-size:160%;padding-top:5%;">{{gift.gifts_points}}</b>
          </div>
        </div>
        <div class="col" style="vertical-align:top;text-align:center;height:{{card_height}}px !important;padding:0px;" cache-src="http://www.olegtronics.com/admin/img/gifts/{{gift.gifts_institution}}/th/{{gift.gifts_pic}}" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center" on-finish="acceptBgStyle" ng-style="myBgStyle" ng-repeat="gift in gifts" ng-if="$odd">
          <div style="display:block;width:80%;height:55%;margin:0px auto auto auto;background-image:url('img/btn/octagon_rosa.png');background-size:100% auto;background-repeat:no-repeat;background-position:center center;">
            <div style="font-size:130%;font-weight:bold;line-height:100%;display: block;width:100%;overflow:hidden;padding:4px 2px;height:60%;">{{gift.gifts_name}}</div>
            <b style="display:block;width:100%;height:30%;font-size:160%;padding-top:5%;">{{gift.gifts_points}}</b>
          </div>
        </div>
      </div>
    </div>

    <!-- ОТЗЫВ -->
    <div ui-sref="app.asks" class="list card clear-bg flat" style="height:{{card_height}}px !important;text-align:center;background-color:rgba(0,0,0,0);margin:4px 0;">
      <img ng-src="img/btn/main_review.jpg" style="width:100%;height:auto;box-shadow:none;" />
    </div>

    <!-- ПРАВИЛА -->
    <div ui-sref="app.termsloyality" class="list card clear-bg flat" style="height:{{card_height}}px !important;text-align:center;background-color:rgba(0,0,0,0);margin:4px 0;">
      <img ng-src="img/btn/main_rules_bottom.jpg" style="width:100%;height:auto;box-shadow:none;" />
    </div>

    <!-- МЕНЮ -->
     <div class="list card clear-bg flat" style="background-color:#F8F7F5;margin:4px 0;">
      <!-- <div class="row">
        <div onclick="window.open('tel:7978', '_system', 'location=yes')" class="col col-50" style="width:49,5%;vertical-align:top;text-align:right;">
          <img ng-src="img/btn/main_call.jpg" style="width:100%;height:auto;box-shadow:none;" />
          <div style="display:block;max-width:100px;margin:0 20% 0 auto;text-align:center;">Позвонить</div>
        </div>
        <div class="col" style="width:1%;vertical-align:top;border-left:1px solid #6c8d9c;">
          
        </div>
        <div ui-sref="app.termsloyality" class="col col-50" style="width:49,5%;vertical-align:top;text-align:left;">
          <img ui-sref="app.contact" ng-src="img/btn/main_rules.jpg" style="width:100%;height:auto;box-shadow:none;" />
          <div style="display:block;max-width:100px;margin:0 auto 0 20%;text-align:center;">Правила</div>
        </div>
      </div> -->
      <div class="row">
        <div class="col" style="background-color:rgba(0,0,0,0);margin-left:0px;margin-right:0px;width:100%;">
          <img ng-src="img/btn/main_horizontal_divider.jpg" style="width:100%;height:auto;box-shadow:none;" />
        </div>
      </div>
    </div> 

  </ion-content>
</ion-view>