<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-clear stollenavbarbackimg flat" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="center">
            <ion-nav-back-button class="no-text stolletextred">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon-round stolletextred" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons id="shopping-cart-0" side="right">
                <!--<span ui-sref="app.gifts" class="mybrown" style="display:block;font-family:myfont4;height:100%;max-height:30px;padding:10px 5px 5px 5px;">{{order}} <i class="icon ion-star"></i></span>-->
                <span ui-sref="app.store-confirm({orderType: 0})" class="stolletextred" style="display:block;font-family:myfont4;height:100%;max-height:30px;padding:10px 5px 5px 5px;">{{order_0}} руб</span>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view animation="no-animation" name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" style="background-image:url('img/background/back_login.jpg');background-size:cover;background-repeat:no-repeat;background-position: right top;">
        <ion-content>
            <ion-list>
                <a class="item item-clear stolletextred" style="text-align:center;width:95%;margin:0 auto;" ng-click="toggleLeftSideMenu()" ui-sref="app.main"><img src="img/background/top_back.png" style="max-width:70px;max-height:70px;" /></a>

                <a ng-click="toggleLeftSideMenu()" ui-sref="app.main" class="item item-icon-left item-clear stolletextred">
                <i class="icon ion-home stolletextred" style="font-size:20px;"></i>
                    {{'menu_main' | translate}}
                </a>
                <a ng-click="toggleLeftSideMenu()" ui-sref="app.about" class="item item-icon-left item-clear stolletextred">
                <i class="icon ion-information-circled stolletextred" style="font-size:20px;"></i>
                    {{'menu_about' | translate}}
                </a>
                <a ng-click="toggleLeftSideMenu()" ui-sref="app.share" class="item item-icon-left item-clear stolletextred">
                <i class="icon ion-android-share-alt stolletextred" style="font-size:20px;"></i>
                    {{'menu_share' | translate}}
                </a>
                 <a ng-click="toggleLeftSideMenu()" ui-sref="app.asks" class="item item-icon-left item-clear stolletextred">
                <i class="icon ion-edit stolletextred" style="font-size:20px;"></i>
                    {{'menu_quest' | translate}}
                </a> 
                <!-- <a ng-click="toggleLeftSideMenu()" ui-sref="app.order_category" class="item item-icon-left item-clear stolletextred">
                <i class="icon ion-edit stolletextred" style="font-size:20px;"></i>
                    {{'menu_order' | translate}}
                </a> -->
                <!-- <a ng-click="toggleLeftSideMenu()" ui-sref="app.order_bs_category" class="item item-icon-left item-clear stolletextred">
                <i class="icon ion-edit stolletextred" style="font-size:20px;"></i>
                    {{'menu_order' | translate}}
                </a> -->
                <a ng-click="toggleLeftSideMenu()" ui-sref="app.profile" class="item item-icon-left item-clear stolletextred">
                <i class="icon ion-person stolletextred" style="font-size:20px;"></i>
                    {{'menu_profile' | translate}}
                </a>
                <a ng-click="toggleLeftSideMenu()" ui-sref="app.support" class="item item-icon-left item-clear stolletextred">
                <i class="icon ion-help-buoy stolletextred" style="font-size:20px;"></i>
                    {{'menu_support' | translate}}
                </a>
                <a ng-click="toggleLeftSideMenu()" onclick="window.open('http://www.biznes-apps.ru/', '_system')"  class="item item-icon-left item-clear stolletextred devsicon">
                    <i style="width:25px;height:25px;left:20px;top:11px;" class="icon ion_developers stolletextred"></i>
                    {{'menu_developers' | translate}}
                </a>
                <!-- <div class="item row">
                    <div class="col">
                        <button class="button button-light" ng-click="ChangeLanguage('ru')">
                        {{'menu_lang_ru' | translate}}
                        </button>
                    </div>
                    <div class="col">
                        <button class="button button-light" ng-click="ChangeLanguage('de')">
                        {{'menu_lang_de' | translate}}
                        </button>
                    </div>
                </div> -->
                <div id="htmlentitydecodediv" class="item row" style="display:none;">
                </div>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>