<ion-view view-title="">
    <ion-content class="contentbackgrnd2">
        <div class="list half">
            
            <div class="card card-gallery item item-text-wrap" ng-repeat="newes in news" ng-if="$even">
                <h3 class="dark-bg light padding equalex" style="margin-bottom:0px;">{{htmlEntities(newes.news_name)}}</h3>
                <a nav-transition="none" style="margin-top:0px;" ui-sref="app.news-detail({newsId: newes.news_id})">
                    <img class="full-size" style="opacity:.9 !important;margin:0px auto;max-height:300px;" cache-src="http://www.olegtronics.com/admin/img/news/{{newes.news_institution}}/pic/{{newes.news_pic}}" />
                </a>
            </div>

            <p>&nbsp;</p>

        </div>
        <div class="list half">
            
            <div class="card card-gallery item item-text-wrap" ng-repeat="newes in news" ng-if="$odd">
                <h3 class="dark-bg light padding equalex" style="margin-bottom:0px;">{{htmlEntities(newes.news_name)}}</h3>
                <a nav-transition="none" style="margin-top:0px;" ui-sref="app.news-detail({newsId: newes.news_id})">
                    <img class="full-size" style="opacity:.9 !important;margin:0px auto;max-height:300px;" cache-src="http://www.olegtronics.com/admin/img/news/{{newes.news_institution}}/pic/{{newes.news_pic}}" />
                </a>
            </div>

            <p>&nbsp;</p>

        </div>

    </ion-content>
        
</ion-view>
