<ion-view view-title="">
    <ion-content class="contentbackgrnd2">
        <div class="hero" cache-src="http://www.olegtronics.com/admin/img/news/{{news.news_institution}}/pic/{{news.news_pic}}" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center" on-finish="acceptStyle" ng-style="myStyle" style="background-size:cover;">
            <div class="content">
                &nbsp;
                <!--<h4 class="stolletextred" style="text-shadow:1px 1px 2px #fff;"></h4>-->
            </div>
        </div>
        <div class="content padding">
            <h3 class="stolletextred">{{htmlEntities(news.news_name)}}</h3>
            <h4 class="stolletextred">{{htmlEntities(news.news_message)}}</h4>
        </div>
    </ion-content>
</ion-view>
