<ion-view view-title="{{'order_top_6' | translate}}">
    <ion-content>
        <div class="list">

            <h3 class="item item-text-wrap"><strong>{{finalOrder.menueName}} {{ordersum}} руб</strong></h3>
            <h3 class="item item-text-wrap">{{finalOrder.orderDayName}}, {{finalOrder.orderHourName}}</h3>
            <div class="item item-thumbnail-left">
                <img style="border-radius: 0px !important;margin:-9px 0px 0px -9px !important;" cache-src="http://www.olegtronics.com/admin/img/user/{{institution}}/pic/{{finalOrder.workerPic}}">
                <h2>{{finalOrder.workerName}}</h2>
                <p>{{finalOrder.workerProfession}}</p>
            </div>
            <!-- <label class="item item-input item-stacked-label" ng-if="smssent && notconfirmed">
                <span class="input-label">Введите SMS-код подтверждения</span>
                <input type="text" ng-model="datas.smsconf">
                <p><small>На номер <span>{{finalOrder.phone}}</span> была выслана SMS с кодом подтверждения</small></p>
            </label>
            <div class="padding">
                <button ng-if="notconfirmed" class="button button-block button-positive" ng-click="sendOrder()" style="text-align: center;">Запросить SMS-код</button>
            </div>
            <div class="padding">
                <button ng-if="smssent && notconfirmed" class="button button-block button-positive" ng-click="confSMS()" style="text-align: center;">Подтвердить</button>
            </div> -->

            <div class="padding">
                <button class="button button-block button-positive" ng-click="sendOrder()" style="text-align: center;">Записаться</button>
            </div>
            
            <!-- <p>{{finalOrder || JSON}}</p> -->

            <p>&nbsp;</p>

        </div>
    </ion-content>
        
</ion-view>
