<ion-view view-title="{{'order_bs_top_5' | translate}}">

    <ion-nav-bar class="bar-dark flat">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left" style="color:#fff;"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        <div class="list">

            <div class="item list card" ng-repeat="order in finalOrder track by $index">
                <h3 class="item item-text-wrap item-icon-right"><strong>{{order.menueName}} {{order.menueDesc}}</strong><i ng-click="removeOrder(order.menueId)" class="assertive icon ion-close-circled"></i></h3>
                <h3 class="item item-text-wrap">{{order.orderDayName}}, {{order.orderHourName}}</h3>
                <div class="item item-thumbnail-left avatarhc">
                    <img style="border-radius: 0px !important;margin:-9px 0px 0px -9px !important;" cache-src="http://www.olegtronics.com/admin/img/user/{{institution}}/pic/{{order.workerPic}}">
                    <h2>{{order.workerName}}</h2>
                    <p>{{order.workerProfession}}</p>
                </div>
            </div>
            <div class="item card flat" style="text-align:center;">
                <button class="button button-fab button-positive icon ion-android-add waves-effect waves-button waves-light" ui-sref="app.order_bs_category"></button>
                <h4 class="positive" ui-sref="app.order_bs_category">{{'order_bs_add_order' | translate}}</h4>
            </div>

            <form name="myForm">

                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'order_bs_your_name' | translate}}</span>
                    <input ng-model="data.name" type="text" placeholder="{{'order_bs_your_name_ex' | translate}}">
                </label>
                <label ng-class="{'item item-input item-stacked-label': !notphone, 'item item-input item-stacked-label notfilled': notphone}">
                    <span for="phone" class="input-label">{{'order_bs_phone' | translate}}</span>
                    <input ng-model="data.phone" ng-pattern="onlyNumbers" id="phone" name="phone" type="text" placeholder="{{'order_bs_ex_phone_1' | translate}}">
                    <!-- <i class="icon ion-ios-plus-empty"></i> -->
                    <p>
                        <!-- <small ng-hide="myForm.phone.$error.pattern">{{'order_bs_ex_phone_1' | translate}}</small> -->
                        <small class="assertive" ng-show="myForm.phone.$error.pattern">{{'order_bs_ex_phone_2' | translate}}</small>
                    </p>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'order_bs_email' | translate}}</span>
                    <input ng-model="data.email" type="email" placeholder="{{'order_bs_email_ex' | translate}}">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'order_bs_comment' | translate}}</span>
                    <textarea ng-model="data.comments" placeholder="{{'order_bs_comment_ex' | translate}}"></textarea>
                </label>
                <!-- <div class="padding">
                    <label for="reminder">Способ оповещения</label>
                    <div name="reminder" class="button-bar bar-positive bar-outline">
                      <a class="button" ng-click="setSelected(0)" ng-class="{'active': data.barSelected == 0}">Нет</a>
                      <a class="button" ng-click="setSelected(1)" ng-class="{'active': data.barSelected == 1}">SMS</a>
                      <a class="button" ng-click="setSelected(2)" ng-class="{'active': data.barSelected == 2}">Email</a>
                    </div>
                </div> -->
                <div class="padding">
                    <button ng-click="placeOrder()" class="button button-block button-positive">
                      {{'order_bs_confirm' | translate}}
                    </button>
                </div>

            </form>

            <p>&nbsp;</p>

        </div>
    </ion-content>
        
</ion-view>
