<ion-view view-title="{{'order_bs_top_3' | translate}}">

    <ion-nav-bar class="bar-dark flat">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left" style="color:#fff;"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-header-bar class="bar-light bar-subheader flat padding" style="background-image:url('img/background/top_back.png');background-position:center center;background-repeat:no-repeat;background-size:contain;">
    </ion-header-bar>
    <ion-header-bar class="bar-light bar-subheader bar-beard balanced padding" style="background:url('img/background/back_transparent.png') center center repeat, url('img/background/beard.png') center center repeat-x;background-size:contain;height: 120px;">
      <h4 class="title greentext"><strong>{{'order_bs_online_reg_1' | translate}} </strong>{{'order_bs_online_reg_2' | translate}}</h4>
    </ion-header-bar>

    <ion-content class="has-beard">
        <div class="list">

            <div class="item item-thumbnail-left item-icon-right avatarhc" ui-sref="app.order_bs_time({menId: menId, workId: worker.user_real_id})" ng-click="setBSWorker(worker.user_real_id, htmlEntities(worker.user_name + ' ' + worker.user_surname), worker.user_pic, htmlEntities(worker.prof_name))" ng-repeat="worker in workers" style="border-bottom:1px solid #444;">
                <img style="border-radius: 0px !important;margin:-9px 0px 0px -9px !important;" cache-src="http://www.olegtronics.com/admin/img/user/{{institution}}/pic/{{worker.user_pic}}">
                <h3>{{htmlEntities(worker.user_surname)}} {{htmlEntities(worker.user_name)}} {{htmlEntities(worker.user_middlename)}}</h3>
                <p>{{htmlEntities(worker.prof_name)}}</p>
                <i class="icon ion-compose positive"></i>
            </div>

            <p>&nbsp;</p>

        </div>
    </ion-content>
</ion-view>
