<ion-view view-title="{{'order_top_1' | translate}}">
    <ion-content>
        <div class="list">

            <div class="card dark-bg" ng-repeat="cat in categories">
                <a class="item item-bg-image" style="text-align:center;max-height:300px !important;height:{{dev_height}}px !important;" ui-sref="app.order_menue({catId: cat.cat_id, goodId: cat.cat_ingr})">
                    <h2>{{htmlEntities(cat.cat_name)}}</h2>
                    <p>{{htmlEntities(cat.cat_desc)}}</p>
                    <img cache-src="http://www.olegtronics.com/admin/img/menu/{{cat.cat_institution}}/cat/{{cat.cat_pic}}" style="width:100%;height:auto;opacity:1;">
                </a>
            </div>

            <p>&nbsp;</p>

        </div>
    </ion-content>
</ion-view>
