<ion-view view-title="{{'order_top_4' | translate}}">
    <ion-content>
        <div class="list">

            <div ng-repeat="day in days7" style="border-bottom:1px solid #444;">
                <ion-item class="item item-icon-right" ng-click="toggleGroup(day, $index)">
                    {{day.workdayname}}, {{day.workday}}.{{day.workmonth}}.{{day.workyear}}
                </ion-item>

                <div ng-if="isGroupShown == day"> 
                    <button ui-sref="app.order({menId: menId, workId: workId, orderHour: day})" ng-click="setOrderHour(hour, timecalc(hour), day)" class="button button-small button-light pull-left" style="margin:7px;" ng-repeat="hour in days7[indexid].items">
                        {{timecalc(hour)}}
                    </button>
                </div>

            </div>

            <p>&nbsp;</p>

        </div>
    </ion-content>
</ion-view>
