<ion-view view-title="{{'order_bs_top_1' | translate}}">

    <ion-nav-bar class="bar-dark flat">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left" style="color:#fff;"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-header-bar class="bar-light bar-subheader flat padding" style="background-image:url('img/background/top_back.png');background-position:center center;background-repeat:no-repeat;background-size:contain;">
    </ion-header-bar>
    <ion-header-bar class="bar-light bar-subheader bar-beard balanced padding" style="background:url('img/background/back_transparent.png') center center repeat, url('img/background/beard.png') center center repeat-x;background-size:contain;height: 120px;">
      <h4 class="title greentext"><strong>{{'order_bs_online_reg_1' | translate}} </strong>{{'order_bs_online_reg_2' | translate}}</h4>
    </ion-header-bar>

    <ion-content class="has-beard">
        <div class="list">

            <div class="card dark-bg" ng-repeat="cat in categories">
                <a class="item item-text-wrap" ui-sref="app.order_bs_start({catId: cat.cat_id, goodId: cat.cat_ingr})">
                    <h2>{{htmlEntities(cat.cat_name)}}</h2>
                    <p>{{htmlEntities(cat.cat_desc)}}</p>
                </a>
            </div>

            <p>&nbsp;</p>

        </div>
    </ion-content>
</ion-view>
