<ion-view view-title="{{'order_top_2' | translate}}">
    <ion-content>
        <div class="list">

            <div ui-sref="app.order_worker({menId: menue.menue_id})" ng-click="setMenue(menue.menue_id, htmlEntities(menue.menue_name), menue.menue_cost)" ng-repeat="menue in menues" style="border-bottom:1px solid #444;">
                <h3 class="item item-icon-right item-text-wrap">
                    {{htmlEntities(menue.menue_name)}} <i class="icon ion-ios-arrow-right positive"></i>
                </h3>
            </div>

            <p>&nbsp;</p>

        </div>
    </ion-content>
        
</ion-view>
