<ion-view view-title="{{'order_bs_top_4' | translate}}">

    <ion-nav-bar class="bar-dark flat">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left" style="color:#fff;"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-header-bar class="bar-light bar-subheader flat padding" style="background-image:url('img/background/top_back.png');background-position:center center;background-repeat:no-repeat;background-size:contain;">
    </ion-header-bar>
    
    <ion-header-bar class="bar-light bar-subheader bar-beard balanced padding" style="background:url('img/background/back_transparent.png') center center repeat, url('img/background/beard.png') center center repeat-x;background-size:contain;height: 120px;">
      <h4 class="title greentext"><strong>{{'order_bs_online_reg_1' | translate}} </strong>{{'order_bs_online_reg_2' | translate}}</h4>
    </ion-header-bar>

    <ion-content class="has-beard">
        <div class="list">

            <div ng-repeat="day in days7" style="border-bottom:1px solid #444;">
                <ion-item class="item item-icon-right" ng-click="toggleGroup(day, $index)">
                    {{day.workdayname}}, {{day.workday}}.{{day.workmonth}}.{{day.workyear}}
                </ion-item>

                <div ng-if="isGroupShown == day"> 
                    <button ui-sref="app.order_bs({menId: menId, workId: workId, orderHour: day})" ng-click="setOrderHour(hour, timecalc(hour), day)" class="button button-small button-light pull-left" style="margin:7px;" ng-repeat="hour in days7[indexid].items">
                        {{timecalc(hour)}}
                    </button>
                </div>

            </div>

            <div class="item">&nbsp;</div>

        </div>
    </ion-content>
</ion-view>
