<ion-view view-title="{{'order_top_3' | translate}}">
    <ion-content>
        <div class="list">

            <div class="item item-thumbnail-left item-icon-right" ui-sref="app.order_time({menId: menId, workId: worker.user_real_id})" ng-click="setWorker(worker.user_real_id, htmlEntities(worker.user_name + ' ' + worker.user_surname), worker.user_pic, htmlEntities(worker.prof_name))" ng-repeat="worker in workers" style="border-bottom:1px solid #444;">
                <img style="border-radius: 0px !important;margin:-9px 0px 0px -9px !important;" cache-src="http://www.olegtronics.com/admin/img/user/{{institution}}/pic/{{worker.user_pic}}">
                <h3>{{htmlEntities(worker.user_surname)}} {{htmlEntities(worker.user_name)}} {{htmlEntities(worker.user_middlename)}}</h3>
                <p>{{htmlEntities(worker.prof_name)}}</p>
                <i class="icon ion-compose positive"></i>
            </div>

            <p>&nbsp;</p>

        </div>
    </ion-content>
</ion-view>
