<ion-view view-title="{{'order_top_5' | translate}}">
    <ion-nav-bar class="bar-dark flat">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left" style="color:#fff;"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list">

            <form name="myForm">

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Ваше Имя</span>
                    <input ng-model="data.name" type="text" placeholder="">
                </label>
                <label ng-class="{'item item-input item-stacked-label': !notphone, 'item item-input item-stacked-label notfilled': notphone}">
                    <span for="phone" class="input-label">Телефон</span>
                    <input ng-model="data.phone" ng-pattern="onlyNumbers" id="phone" name="phone" type="text" placeholder="<Код страны><Номер>">
                    <!-- <i class="icon ion-ios-plus-empty"></i> -->
                    <p>
                        <small ng-hide="myForm.phone.$error.pattern">Например: 79061234567, 375291234567</small>
                        <small class="assertive" ng-show="myForm.phone.$error.pattern">Только цифры! Пример: 79061234567, 375291234567</small>
                    </p>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input ng-model="data.email" type="email" placeholder="">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Комментарий</span>
                    <textarea ng-model="data.comments" placeholder=""></textarea>
                </label>
                <!-- <div class="padding">
                    <label for="reminder">Способ оповещения</label>
                    <div name="reminder" class="button-bar bar-positive bar-outline">
                      <a class="button" ng-click="setSelected(0)" ng-class="{'active': data.barSelected == 0}">Нет</a>
                      <a class="button" ng-click="setSelected(1)" ng-class="{'active': data.barSelected == 1}">SMS</a>
                      <a class="button" ng-click="setSelected(2)" ng-class="{'active': data.barSelected == 2}">Email</a>
                    </div>
                </div> -->
                <div class="padding">
                    <button ng-click="placeOrder()" class="button button-block button-positive">
                      Далее
                    </button>
                </div>

            </form>

            <p>&nbsp;</p>

        </div>
    </ion-content>
        
</ion-view>
