<ion-view view-title="{{'order_bs_top_2' | translate}}">

    <ion-nav-bar class="bar-dark flat">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left" style="color:#fff;"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <button ng-class="{'button button-dark icon icon-right ion-edit': !checks, 'button greenbackground icon icon-right ion-edit': checks}" style="margin-right:0px;padding-right:60px;" ng-click="checkout()">{{'order_bs_go_on' | translate}}</button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-header-bar class="bar-light bar-subheader flat padding" style="background-image:url('img/background/top_back.png');background-position:center center;background-repeat:no-repeat;background-size:contain;">
    </ion-header-bar>
    <ion-header-bar class="bar-light bar-subheader bar-beard balanced padding" style="background:url('img/background/back_transparent.png') center center repeat, url('img/background/beard.png') center center repeat-x;background-size:contain;height: 120px;">
      <h4 class="title greentext"><strong>{{'order_bs_online_reg_1' | translate}} </strong>{{'order_bs_online_reg_2' | translate}}</h4>
    </ion-header-bar> 

    <ion-content class="has-beard">
        <div class="list">

            <div ng-repeat="cat in categories" ng-class="cat.category? 'item-divider':'item list card'">
                <div class="item item-text-wrap" ng-click="checking(cat)">
                    {{htmlEntities(cat.menue_name)}}
                    <i ng-model="cat.checked" style="font-size:30px;font-weight: bold;" class="icon ion-ios-plus-outline pull-right stable" ng-if="!cat.category && !cat.checked"></i>
                    <i ng-model="cat.checked" style="font-size:30px;" class="icon ion-checkmark-round pull-right greentext" ng-if="!cat.category && cat.checked"></i>
                    <p ng-if="!cat.category"><i class="icon ion-clock greentext"></i> {{cat.menue_interval}}</p>
                    <p ng-if="!cat.category">{{cat.menue_desc}} <span class="rub">Р</span></p>
                </div>
            </div>

            <p>&nbsp;</p>

        </div>
    </ion-content>
</ion-view>