<ion-view view-title="">
    <ion-content class="contentbackgrnd2">
        <div class="hero has-mask" cache-src="img/background/profile.jpg" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center" on-finish="acceptStyle" ng-style="myStyle" style="background-size:cover;">
            <div class="content">
                <h3>{{htmlEntities(myName)}}</h3>
            </div>
        </div>
        <div class="mid-bar dark-clear z1 padding" style="min-height:81px;">
            <h3 class="stolletextred">{{'profile1_settings_title' | translate}}</h3>
            <span class="stolletextred">* обязательны к заполнению</span>
            <form name="myForm">
                <div class="list">

                    <div class="item item-input item-floating-label">
                        <span class="input-label stolletextred">{{'profile1_mobile' | translate}} *</span><input id="mobconf" class="dark padding" style="background-color:#fff;" ng-model="user.mob" ng-pattern="onlyNumbers" ng-disabled="user.mob_confirm == '1'" name="mob" type="text" placeholder="{{'profile1_mobile_placeholder' | translate}}">
                        <span class="assertive" ng-if="myForm.mob.$error.pattern">{{'profile1_mobile_warn' | translate}}</span>
                    </div>

                    <div class="item item-input item-floating-label" ng-if="user.mob_confirm != '1'">
                        <button style="margin-bottom: 0px;margin-top:auto;" ng-click="confirmTel(user, adr)" class="button button-positive button-small" ng-disabled="myForm.mob.$error.pattern">
                            {{'profile1_confirm_sms' | translate}}
                        </button>
                    </div>

                    <div class="item item-input item-floating-label" style="padding-top:5px !important;" ng-if="smsOrdered == '1' && smsConfirmed != '1'">
                        <span class="input-label assertive">{{'profile1_phonerepeat_body' | translate}}</span><input class="dark padding" style="background-color:#fff;" ng-model="user.codes" name="codes" type="text" placeholder="{{'profile1_phonerepeat_title' | translate}}">
                    </div>

                    <div class="item item-input item-floating-label" ng-if="smsOrdered == '1' && smsConfirmed != '1'">
                        <button style="margin-bottom: 0px;margin-top:auto;" ng-click="confirmSMS()" class="button button-balanced button-small">
                            {{'profile1_confirm' | translate}}
                        </button>
                    </div>



                    <label class="item item-input item-stacked-label">
                        <span class="input-label stolletextred">{{'profile1_name' | translate}}</span><input class="dark padding" type="text" ng-model="user.name" placeholder="{{'profile1_name' | translate}}">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label stolletextred">{{'profile1_surname' | translate}}</span><input class="dark padding" type="text" ng-model="user.surname" placeholder="{{'profile1_surname' | translate}}">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label stolletextred">{{'profile1_middlename' | translate}}</span><input class="dark padding" type="text" ng-model="user.middlename" placeholder="{{'profile1_middlename' | translate}}">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label stolletextred">{{'profile1_email' | translate}} *</span><input class="dark padding" name="email" ng-model="user.email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" type="email" placeholder="{{'profile1_email_placeholder' | translate}}">
                        <span class="assertive" ng-if="myForm.email.$error.pattern">{{'profile1_email_warn' | translate}}</span>
                    </label>

                    <span class="stolletextred" style="margin-left:10px;">{{'profile1_birthday' | translate}}</span><div class="item item-icon-left" ion-datetime-picker date ng-model="user.birthday" ng-disabled="!birthenable" style="border-bottom:1px solid #fff;"><i class="icon ion-calendar stolletextred"></i><strong class="stolletextred">{{user.birthday| date: "dd.MM.yyyy"}}</strong></div>

                    <label class="item item-input item-select">
                        <span class="stolletextred">{{'profile1_gender' | translate}}</span>
                        <select style="height:70% !important;" class="dark" ng-model="user.gender" ng-options="gends.name for gends in usrGender">
                        </select>
                    </label>
                    
                    <label class="item item-input item-select">
                        <span class="stolletextred">{{'profile1_from_where' | translate}}</span>
                        <select style="height:70% !important;" class="dark" ng-model="user.install_where" ng-options="installs.name for installs in usrFromWhere"></select>
                    </label>

                    <br/>

                    <button class="button button-balanced button-block" ng-click="updateData(user, adr); saved();">
                      <i class="icon ion-archive"></i>
                        {{'profile1_save' | translate}}
                    </button>

                    <br/>

                    <!-- <label class="item item-input item-stacked-label">
                        <span class="input-label">{{'profile1_phone' | translate}}</span><input class="input-phone" ng-model="user.tel" ng-pattern="onlyNumbers" name="tel" type="text" placeholder="{{'profile1_phone_placeholder' | translate}}">
                        <span class="assertive" ng-show="myForm.tel.$error.pattern">{{'profile1_phone_warn' | translate}}</span>
                    </label> -->

                    <!-- <label class="item item-input item-stacked-label">
                        <span class="input-label">{{'profile1_street' | translate}}</span><input class="stolletextred" ng-model="adr.adress1" type="text" placeholder="{{'profile1_street' | translate}}">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">{{'profile1_house' | translate}}</span><input class="stolletextred" ng-model="adr.adress2" type="text" placeholder="{{'profile1_house' | translate}}">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">{{'profile1_entry' | translate}}</span><input class="stolletextred" ng-model="adr.adress3" type="text" placeholder="{{'profile1_entry' | translate}}">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">{{'profile1_flat' | translate}}</span><input class="stolletextred" ng-model="adr.adress4" type="text" placeholder="{{'profile1_flat' | translate}}">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">{{'profile1_floor' | translate}}</span><input class="stolletextred" ng-model="adr.adress5" type="text" placeholder="{{'profile1_floor' | translate}}">
                    </label> -->

                    <!-- <div ng-show="is_discount" ng-if="!user.user_discount || user.user_discount == '0'" class="item item-button-right">
                        {{'profile1_order_discount' | translate}}
                        <button class="button button-positive" ng-click="getDiscount(user, adr)">
                          <i class="icon ion-card"></i>
                        </button>
                    </div> -->

                    <p>&nbsp;</p>

                </div>
            </form>

        </div>
    </ion-content>
</ion-view>
