<ion-view view-title="">
    <ion-content class="contentbackgrnd2">
        <div class="hero" cache-src="img/background/profile_1.jpg" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center" on-finish="acceptStyle" ng-style="myStyle" style="background-size:cover;">
            <div class="content" ng-click="selfie()">
                <div class="avatar" cache-src="{{myPic}}" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center" on-finish="acceptStyle" ng-style="avaStyle"></div>
                <h3><a class="light">{{htmlEntities(myName)}}</a></h3>
                <h4 class="light">{{'profile_my_promo' | translate}} {{myID}}</h4>
            </div>
        </div> 
        <div class="tabs tabs-clear tabs-icon-top static">
            <!-- <a class="tab-item">
                <i class="icon ion-bag"></i> Мои заказы
            </a> -->
            <a ng-click="beforePromoSend();" class="tab-item" ng-if="promoShow">
                <i class="icon ion-loop"></i> {{'profile_promo' | translate}}
            </a>
            <a ng-click="selPic()" class="tab-item">
                <i class="icon ion-image"></i> {{'profile_change_photo' | translate}}
            </a>
            <a ui-sref="app.profile1" class="tab-item">
                <i class="icon ion-gear-b"></i> {{'profile_profile' | translate}}
            </a>

        </div>
        <h2 class="stolletextred" style="text-align:center;"><i class="icon ion-star"></i> {{order}}</h2>
        <!--<div class="mid-bar z1" style="min-height:81px;">
            <section id="cd-timeline" class="cd-container">
                <div class="cd-timeline-block">-->

                    <!-- <h4 class="content padding double-padding-x">{{'profile_my_points' | translate}} <strong class="assertive">{{wallet}}</strong> <i class="icon ion-star assertive"></i></h4>
                    <div class="list">
                        <a class="item item-avatar item-icon-right" ng-repeat="point in pointsAll">
                            <img cache-src="{{myPic}}" style="border-radius:0% !important;">
                            <h2 ng-if="point.points_proofed==1 && point.points_status==2" class="positive">{{'profile_passed' | translate}}</h2>
                            <h2 ng-if="point.points_proofed==1 && point.points_status==1" class="assertive">{{'profile_stopped' | translate}}</h2>
                            <h2 ng-if="point.points_proofed==1 && point.points_status==0" class="balanced">{{'profile_passed' | translate}}</h2>
                            <h2 ng-if="point.points_proofed==0" class="stable">{{'profile_profing' | translate}}</h2>
                            <p>{{timecalc(point.points_when)}}</p>
                            <div class="card-footer text-right calm">
                                <span ng-if="point.points_got_spend == 0">+</span>
                                <span ng-if="point.points_got_spend == 1">-</span> {{point.points_points}} <span ng-if="point.points_got_spend == 0">({{point.points_bill / 100}} {{'profile_money_sign' | translate}})</span>
                            </div>
                            <i class="icon ion-chevron-right balanced"></i>
                        </a>
                    </div> -->

                    <!--<div class="list card flat" style="background-color:rgba(255,255,255,0)" ng-repeat="order in ordersAll | orderBy: '-order_start'">

                        <div class="cd-timeline-icon text-center">
                          <i class="ion-clock timelineIcon" style="color:#888 !important;" ng-if="order.order_status == '0'"></i>
                          <i class="ion-checkmark timelineIcon" style="color:#387ef5 !important;" ng-if="order.order_status == '1'"></i>
                          <i class="ion-checkmark-round timelineIcon" style="color:#33cd5f !important;" ng-if="order.order_status == '2'"></i>
                          <i class="ion-close-round timelineIcon" style="color:#ef473a !important;" ng-if="order.order_status == '3'"></i>
                          <i class="ion-close-round timelineIcon" style="color:#ef473a !important;" ng-if="order.order_status == '4'"></i>
                        </div>
                        <div class="cd-timeline-content padding" style="background-color:rgba(255,255,255,0)">
                            <span ng-if="order.order_status == 0" class="pull-right dark">{{'profile_confirm_wait' | translate}}</span>
                            <span ng-if="order.order_status == 1" class="pull-right positive">{{'profile_confirm_ok' | translate}}</span>
                            <span ng-if="order.order_status == 2" class="pull-right balanced">{{'profile_confirm_ok' | translate}}</span>
                            <span ng-if="order.order_status == 3" class="pull-right assertive">{{'profile_confirm_not_ok' | translate}}</span>
                            <span ng-if="order.order_status == 4" class="pull-right assertive">{{'profile_confirm_canceled' | translate}}</span>
                            <h5 class="marginBottom0 marginTop0" style="color:#888 !important;">{{order.order_name}}</h5>
                            <p class="marginTop5 cd-author" style="color:#888 !important;">{{formatTime(order.order_start)}}</p>
                            <p class="timelineText" style="color:#888 !important;">{{order.order_desc}}</p>
                            <button class="button button-small button-assertive icon icon-left ion-close-circled pull-right" ng-click="beforeCancelOrder(order.order_id)" ng-if="order.order_status != 3 && order.order_status != 4">{{'profile_confirm_cancel' | translate}}</button>
                        </div>

                    </div>-->

                <!--</div>
            </section>
        </div>-->
    </ion-content>
</ion-view>
