<ion-view view-title="">
    <ion-content class="contentbackgrnd3">
        
        <div class="list card clear-bg flat" style="height:{{card_height}}px !important;text-align:center;background-color:rgba(0,0,0,0);margin:4px 0;">
            <img ng-src="img/btn/share_top.jpg" style="width:100%;height:auto;box-shadow:none;" />
        </div>

        <div class="content clear-bg" style="width:80%;margin:0 auto;min-width:200px;text-align:center;">
            <h4 class="stolletextdarkred" style="text-align:center;">{{'promo_your_code' | translate}}</h4>
            <h3 class="stolletextdarkred" style="text-align:center;">{{promo}}</h3>
            <h5 class="stolletextdarkred" style="text-align:center;">{{'promo_share_promo' | translate}}</h5>
            <p class="padding" style="text-align:center;">
                <button ng-click="selfie();" class="button button-fab button-assertive icon ion-social-instagram-outline" style="border:2px solid #fff;margin:5px auto;"></button>
                <button ng-click="shareFacebook();" class="button button-fab button-positive icon ion-social-facebook" style="border:2px solid #fff;margin:5px; auto"></button>
                <img src="img/vk.png" ng-click="shareVK();" class="button button-fab button-positive" style="border:2px solid #fff;margin:5px auto;" />
                <img ng-src="img/btn/share_bottom_divider.jpg" style="width:100%;height:auto;box-shadow:none;" />
                <button ng-click="shareTwitter();" class="button button-fab button-calm icon ion-social-twitter" style="border:2px solid #fff;margin:5px auto;"></button>
                <button ng-click="shareSMS();" class="button button-fab button-balanced icon ion-android-textsms" style="border:2px solid #fff;margin:5px auto;"></button>
                <button  ng-click="shareEmail();"class="button button-fab button-energized icon ion-email" style="border:2px solid #fff;margin:5px auto;"></button>
            </p>
            <img ng-src="img/btn/share_bottom_divider.jpg" style="width:100%;height:auto;box-shadow:none;" />
        </div>
        <p>&nbsp;</p>

    </ion-content>
</ion-view>
