<ion-view view-title="">

    <ion-content class="contentbackgrnd2">

      <!-- ЛОГОТИП -->
      <div class="list card clear-bg flat" style="background-color:rgba(0,0,0,0);text-align:center;margin:4px 0;">
          <img style="box-shadow:none;display: inline-block;vertical-align: middle;" ng-src="img/btn/calc_top.jpg">
      </div>

        <div class="list card" style="margin:0 auto;width:70%;border-radius: 0px;box-shadow: none;background-color:rgba(0,0,0,0);">
            <!--<div class="item" style="background-color: #ad3f09;"><h1 style="text-align:center;color:#fff;">{{billsum}} {{'bill_money' | translate}} {{remainer}} {{'bill_money_rest' | translate}}</h1></div>-->
            <div class="item item-text-wrap">
              <div class="row">
                <div class="col" style="text-align: center;">
                    <qr class="qrcodeString" text="qrcodeString" type-number="typeNumber" correction-level="correctionLevel" size="size" input-mode="inputMode" image="image"></qr>
                  </div>
                </div>
            </div>
            <div class="item">
              <button class="button button-large" style="background-color: #ad3f09;color:#fff;width:100%;font-weight:normal;font-size:200%;text-align:center;box-shadow:none;border-radius:0px;" ng-click="paid()">{{'qrcode_ready' | translate}}</button>
            </div>
        </div>

      <div class="list card clear-bg flat" style="background-color:rgba(0,0,0,0);text-align:center;margin:4px 0;">
          <img style="box-shadow:none;display: inline-block;vertical-align: middle;" ng-src="img/btn/calc_bottom_divider.jpg">
      </div>

        <p>&nbsp;</p>
    </ion-content>
</ion-view>
