<ion-view view-title="Наши заведения">
    <ion-content>
        <div class="list half">
            <a ui-sref="app.termsloyality" class="card card-gallery item item-text-wrap">
            <h3>Правила системы лояльности</h3>
            <img class="full-size" style="opacity:.9 !important;width:100%;height:auto;" cache-src="http://www.olegtronics.com/pizzatempo/img/menu/rules.jpg" />
            </a>

            <a onclick="window.open('http://www.pizzatempo.by', '_system')" class="card card-gallery item item-text-wrap">
            <h3>Перейти на сайт Пицца Темпо</h3>
            <img class="full-size" style="opacity:.9 !important;width:100%;height:auto;" src="img/icon.png" />
            </a>

            <a href="tel:80445899202" target="_blank" class="card card-gallery item item-text-wrap">
            <h3>ул. Я.Коласа, 37 МЦ "Айсберг"</h3>
            <img class="full-size" style="opacity:.9 !important;width:100%;height:auto;" cache-src="http://www.olegtronics.com/pizzatempo/img/institutions/kolasa_th.jpg" />
            </a>

            <a href="tel:80297066524" class="card card-gallery item item-text-wrap">
            <h3>ул. К.Маркса, 26</h3>
            <img class="full-size" style="opacity:.9 !important;width:100%;height:auto;" cache-src="http://www.olegtronics.com/pizzatempo/img/institutions/marksa26_th.jpg" />
            </a>

            <a href="tel:80336555868" class="card card-gallery item item-text-wrap">
            <h3>ул. Селицкого, 65</h3>
            <img class="full-size" style="opacity:.9 !important;width:100%;height:auto;" cache-src="http://www.olegtronics.com/pizzatempo/img/institutions/selickogo_th.jpg" />
            </a>

            <a href="tel:80292785679" class="card card-gallery item item-text-wrap">
            <h3>ул. К.Маркса, 9</h3>
            <img class="full-size" style="opacity:.9 !important;width:100%;height:auto;" cache-src="http://www.olegtronics.com/pizzatempo/img/institutions/marksa_th.jpg" />
            </a>

            <a href="tel: 80292785681" class="card card-gallery item item-text-wrap">
            <h3>ул. Громова, 20</h3>
            <img class="full-size" style="opacity:.9 !important;width:100%;height:auto;" cache-src="http://www.olegtronics.com/pizzatempo/img/institutions/gromova_th.jpg" />
            </a>

            <a href="tel:80292373944" class="card card-gallery item item-text-wrap">
            <h3>ул. Лобанка, 94</h3>
            <img class="full-size" style="opacity:.9 !important;width:100%;height:auto;" cache-src="http://www.olegtronics.com/pizzatempo/img/institutions/lobanka_th.jpg" />
            </a>

            <a href="tel:80297707853" class="card card-gallery item item-text-wrap">
            <h3>ул. В. Голубка, 2 ТЦ "Бонус"</h3>
            <img class="full-size" style="opacity:.9 !important;width:100%;height:auto;" cache-src="http://www.olegtronics.com/pizzatempo/img/institutions/bonus_th.jpg" />
            </a>

        </div>
        <div class="list half">
            <a ui-sref="app.store-categories" class="card card-gallery item item-text-wrap">
            <h3>Посмотреть меню "Пицца Темпо"</h3>
            <img class="full-size" style="opacity:.9 !important;width:100%;height:auto;" cache-src="http://www.olegtronics.com/pizzatempo/img/menu/menue.jpg" />
            </a>

            <a href="tel:80291886035" class="card card-gallery item item-text-wrap">
            <h3> ул. П. Глебки,5 ТЦ "Скала"</h3>
            <img class="full-size" style="opacity:.9 !important;width:100%;height:auto;" cache-src="http://www.olegtronics.com/pizzatempo/img/institutions/skala_th.jpg" />
            </a>

            <a href="tel:80292785680" class="card card-gallery item item-text-wrap">
            <h3>пр-т Независимости, 78</h3>
            <img class="full-size" style="opacity:.9 !important;width:100%;height:auto;" cache-src="http://www.olegtronics.com/pizzatempo/img/institutions/nezavisimosti_th.jpg" />
            </a>

            <a href="tel:80292785677" class="card card-gallery item item-text-wrap">
            <h3>ТРЦ "Экспобел"</h3>
            <img class="full-size" style="opacity:.9 !important;width:100%;height:auto;" cache-src="http://www.olegtronics.com/pizzatempo/img/institutions/expobel_th.jpg" />
            </a>

            <a href="tel:80297232791" class="card card-gallery item item-text-wrap">
            <h3>пр-т. Победителей, 89</h3>
            <img class="full-size" style="opacity:.9 !important;width:100%;height:auto;" cache-src="http://www.olegtronics.com/pizzatempo/img/institutions/pobediteley_th.jpg" />
            </a>

            <a href="tel:80292373565" class="card card-gallery item item-text-wrap">
            <h3>Долгиновский тракт, 178 ТЦ "АLL"</h3>
            <img class="full-size" style="opacity:.9 !important;width:100%;height:auto;" cache-src="http://www.olegtronics.com/pizzatempo/img/institutions/all_th.jpg" />
            </a>

            <a href="tel:80336575282" class="card card-gallery item item-text-wrap">
            <h3>пр-т. Победителей, 84 ТРЦ ARENAcity</h3>
            <img class="full-size" style="opacity:.9 !important;width:100%;height:auto;" cache-src="http://www.olegtronics.com/pizzatempo/img/institutions/arena_th.jpg" />
            </a>

            <a href="tel:80447488269" class="card card-gallery item item-text-wrap">
            <h3>ул. Бобруйская, 6 ТРЦ "Galileo"</h3>
            <img class="full-size" style="opacity:.9 !important;width:100%;height:auto;" cache-src="http://www.olegtronics.com/pizzatempo/img/institutions/gallileo_th.jpg" />
            </a>

            <a ui-sref="app.contact" class="card card-gallery item item-text-wrap">
            <h3>Найти нас на карте</h3>
            <img class="full-size" style="opacity:.9 !important;width:100%;height:auto;" cache-src="http://www.olegtronics.com/pizzatempo/img/menu/quadrat_geo.jpg" />
            </a>

        </div>
    </ion-content>
</ion-view>
