<ion-view view-title="">
    <ion-content class="contentbackgrnd3">
        
        <div ui-sref="app.promo" class="list card clear-bg flat" style="height:{{card_height}}px !important;text-align:center;background-color:rgba(0,0,0,0);margin:4px 0;">
            <img ng-src="img/btn/share_top.jpg" style="width:100%;height:auto;box-shadow:none;" />
        </div>
        
        <div class="content clear-bg" style="width:80%;margin:0 auto;">
            <h4 class="stolletextdarkred" style="text-align:center;">{{'share_recommend_us' | translate}}</h4>
            <div ng-if="orgdata.org_promo_points_owner != '0'" ui-sref="app.promo" class="list card clear-bg flat pointsback" style="text-align:center;background-color:rgba(0,0,0,0);margin:4px 0px;padding:10px 10px 5px 10px;">
                <h3><b class="dark">+ {{orgdata.org_promo_points_owner}}</b> ВАМ,</h3>
                <img ng-src="img/btn/points_divider.jpg" style="width:100%;height:auto;box-shadow:none;" />
                <h4>если друг ввел Ваш промокод</h4>
            </div>
            <div ng-if="orgdata.org_promo_points_involved != '0'" ui-sref="app.promo" class="list card clear-bg flat pointsback" style="text-align:center;background-color:rgba(0,0,0,0);margin:4px 0px;padding:10px 10px 5px 10px;">
                <h3><b style="color:#E57200;">+ {{orgdata.org_promo_points_involved}}</b> ДРУГУ,</h3>
                <img ng-src="img/btn/points_divider.jpg" style="width:100%;height:auto;box-shadow:none;" />
                <h4>который ввел Ваш промокод</h4>
            </div>
            <div ng-if="orgdata.org_promo_points_scan_owner != '0'" ui-sref="app.promo" class="list card clear-bg flat pointsback" style="text-align:center;background-color:rgba(0,0,0,0);margin:4px 0px;padding:10px 10px 5px 10px;">
                <h3><b style="color:#ad3f09;">+ {{orgdata.org_promo_points_scan_owner}}</b> ВАМ,</h3>
                <img ng-src="img/btn/points_divider.jpg" style="width:100%;height:auto;box-shadow:none;" />
                <h4>если друг воспользуется нашими услугами</h4>
            </div>
            <div ng-if="orgdata.org_promo_points_scan_involved != '0'" ui-sref="app.promo" class="list card clear-bg flat pointsback" style="text-align:center;background-color:rgba(0,0,0,0);margin:4px 0px;padding:10px 10px 5px 10px;">
                <h3><b style="color:#E57200;">+ {{orgdata.org_promo_points_scan_involved}}</b> ДРУГУ,</h3>
                <img ng-src="img/btn/points_divider.jpg" style="width:100%;height:auto;box-shadow:none;" />
                <h4>если друг воспользуется нашими услугами</h4>
            </div>
            <img ng-src="img/btn/share_bottom_divider.jpg" style="width:100%;height:auto;box-shadow:none;" />
        </div>
        <p>&nbsp;</p>
    </ion-content>
</ion-view>
