<ion-view view-title="">
    
    <ion-content class="contentbackgrnd2">
        <div class="list">
            <div class="item card-item" ng-if="orderType == '0'">

                <p>&nbsp;</p>

                <form name="myForm">

                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{'store_buy_phone_1' | translate}} <span class="assertive">*</span></span><input ng-pattern="onlyNumbers" name="phone1" ng-model="orderform_0.userMobile" type="text" placeholder="{{'store_buy_phone_1' | translate}}">
                        <span class="assertive" ng-show="myForm.userMobile.$error.pattern">{{'store_mobile_warn' | translate}}</span>
                    </label>

                    <div ng-if="notphone" class="item assertive">{{'store_buy_must' | translate}}</div>

                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{'store_buy_f_name' | translate}} <span class="assertive">*</span></span><input ng-model="orderform_0.userName" type="text" placeholder="{{'store_buy_f_name' | translate}}">
                    </label>

                    <div ng-if="notname" class="item assertive">{{'store_buy_must' | translate}}</div>

                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{'store_buy_l_name' | translate}}</span><input ng-model="orderform_0.userSurname" type="text" placeholder="{{'store_buy_l_name' | translate}}">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{'store_buy_company' | translate}}</span><input ng-model="orderform_0.company" type="text" placeholder="{{'store_buy_company' | translate}}">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{'store_buy_order_type_0' | translate}} <span class="assertive">*</span></span><input ng-model="orderform_0.userAdress" type="text" placeholder="{{'store_buy_order_type_0' | translate}}">
                    </label>

                    <div ng-if="notstreet" class="item assertive">{{'store_buy_must' | translate}}</div>
                    
                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{'store_buy_email' | translate}} <span class="assertive">*</span></span><input ng-model="orderform_0.userEmail" type="text" placeholder="{{'store_buy_email' | translate}}">
                    </label>

                    <div ng-if="notemail" class="item assertive">{{'store_buy_must' | translate}}</div>

                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{'store_buy_adv_info_2' | translate}}</span><input ng-model="orderform_0.userComment" type="text" placeholder="{{'store_buy_adv_info_2' | translate}}">
                    </label>

                    <div class="item text-muted">
                        &nbsp;
                    </div>
                </form>
            </div>

        </div>
    </ion-content>

        <div class="bar bar-footer">
          <button class="bar bar-footer bar-clear ink-dark stollebackred" ng-click="buy(orderform_0)" ng-if="orderType == 0">
            <p class="title">{{'store_buy_submit' | translate}}<p>
          </button>
        </div>
        
</ion-view>
