<ion-view view-title="">
    <ion-content class="contentbackgrnd2">

        <div ui-sref="app.store({catId: cat.cat_id})" class="list card clear-bg flat" ng-if="allCats" ng-repeat="cat in allCats" style="height:{{card_height}}px !important;text-align:center;background-color:rgba(0,0,0,0);margin:4px 0;">
            <img cache-src="http://www.olegtronics.com/admin/img/menu/{{cat.cat_institution}}/cat/{{cat.cat_pic}}" style="width:100%;height:auto;box-shadow:none;" />
        </div>

    </ion-content>
</ion-view>
