<ion-view view-title="{{getcat.name}}">
    <ion-nav-bar class="bar-dark flat">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left" style="color:#fff;"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list half">

            <div class="card card-gallery item item-text-wrap" ng-repeat="store in allStore" ng-if="$even">
                <h3 class="energized-bg light padding">{{store.name}}</h3>
                <a ui-sref="app.store-detail({storeId: store.id, storeSize: 1})">
                    <img class="full-size" style="opacity:.9 !important;margin:0px auto;" cache-src="http://www.olegtronics.com/pizzatempo/img/store/{{getcatpath}}/{{store.th}}" />
                      <div class="card-footer text-right light">
                          <span ng-if="pieces(store.id) != 0" class="assertive-bg padding" style="font-size:16px;font-weight:bold;">{{pieces(store.id)}}</span>
                      </div>
                </a>
                <div ui-sref="app.store-detail({storeId: store.id, storeSize: 1})" ng-if="store.cat == 1" class="assertive-bg light padding outline"><h3>{{getSizes[0].name}} <span style="font-size:10px;">{{store.weigh[0]}}г {{getSizes[0].siz}}см</span></h3><h3><strong>{{store.cost[0]}} руб</strong></h3></div>
                <div ui-sref="app.store-detail({storeId: store.id, storeSize: 2})" ng-if="store.cat == 1" class="assertive-bg light padding outline"><h3>{{getSizes[1].name}} <span style="font-size:10px;">{{store.weigh[0]}}г {{getSizes[1].siz}}см</span></h3><h3><strong>{{store.cost[1]}} руб</strong></h3></div>
                <div ui-sref="app.store-detail({storeId: store.id, storeSize: 3})" ng-if="store.cat == 1" class="assertive-bg light padding outline"><h3>{{getSizes[2].name}} <span style="font-size:10px;">{{store.weigh[0]}}г {{getSizes[2].siz}}см</span></h3><h3><strong>{{store.cost[2]}} руб</strong></h3></div>
                <div ui-sref="app.store-detail({storeId: store.id, storeSize: 4})" ng-if="store.cat == 1" class="assertive-bg light padding outline"><h3>{{getSizes[3].name}} <span style="font-size:10px;">{{store.weigh[0]}}г {{getSizes[3].siz}}см</span></h3><h3><strong>{{store.cost[3]}} руб</strong></h3></div>

                <div ng-if="store.cat != 1" class="assertive-bg light padding outline"><h3><strong>{{store.cost[0]}} руб</strong></h3></div>
            
            </div>

            <p>&nbsp;</p>

        </div>
        <div class="list half">

            <div class="card card-gallery item item-text-wrap" ng-repeat="store in allStore" ng-if="$odd">
                <h3 class="energized-bg light padding">{{store.name}}</h3>
                <a ui-sref="app.store-detail({storeId: store.id, storeSize: 1})">
                    <img class="full-size" style="opacity:.9 !important;margin:0px auto;" cache-src="http://www.olegtronics.com/pizzatempo/img/store/{{getcatpath}}/{{store.th}}" />
                      <div class="card-footer text-right light">
                          <span ng-if="pieces(store.id) != 0" class="assertive-bg padding" style="font-size:16px;font-weight:bold;">{{pieces(store.id)}}</span>
                      </div>
                </a>
                <div ui-sref="app.store-detail({storeId: store.id, storeSize: 1})" ng-if="store.cat == 1" class="assertive-bg light padding outline"><h3>{{getSizes[0].name}} <span style="font-size:10px;">{{store.weigh[0]}}г {{getSizes[0].siz}}см</span></h3><h3><strong>{{store.cost[0]}} руб</strong></h3></div>
                <div ui-sref="app.store-detail({storeId: store.id, storeSize: 2})" ng-if="store.cat == 1" class="assertive-bg light padding outline"><h3>{{getSizes[1].name}} <span style="font-size:10px;">{{store.weigh[0]}}г {{getSizes[1].siz}}см</span></h3><h3><strong>{{store.cost[1]}} руб</strong></h3></div>
                <div ui-sref="app.store-detail({storeId: store.id, storeSize: 3})" ng-if="store.cat == 1" class="assertive-bg light padding outline"><h3>{{getSizes[2].name}} <span style="font-size:10px;">{{store.weigh[0]}}г {{getSizes[2].siz}}см</span></h3><h3><strong>{{store.cost[2]}} руб</strong></h3></div>
                <div ui-sref="app.store-detail({storeId: store.id, storeSize: 4})" ng-if="store.cat == 1" class="assertive-bg light padding outline"><h3>{{getSizes[3].name}} <span style="font-size:10px;">{{store.weigh[0]}}г {{getSizes[3].siz}}см</span></h3><h3><strong>{{store.cost[3]}} руб</strong></h3></div>

                <div ng-if="store.cat != 1" class="assertive-bg light padding outline"><h3><strong>{{store.cost[0]}} руб</strong></h3></div>
            
            </div>

        </div>

    </ion-content>

        <!-- <div class="tabs tabs-assertive tabs-icon-left">
          <a class="tab-item" style="font-size:14px;">
            <i class="icon ion-ios-cart"></i>
            {{order}} руб.
          </a>
          <a class="tab-item">
            &nbsp;
          </a>
          <a ui-sref="app.store-confirm" class="tab-item" style="font-size:14px;">
            <strong>ОФОРМИТЬ</strong>
          </a>
        </div> -->
        
</ion-view>
