<ion-view view-title="">
    <ion-content class="contentbackgrnd2">
        <div class="hero" cache-src="http://www.olegtronics.com/admin/img/menu/{{storeitem.menue_institution}}/300/{{storeitem.menue_pic}}" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center" on-finish="acceptStyle" ng-style="myStyle" style="background-size:cover;" ng-if="storeitem.menue_pic != '0'">
            <div class="content">
                <h4 class="stolletextred" style="text-shadow:1px 1px 2px #fff;">{{htmlEntities(storeitem.menue_name)}}</h4>
            </div>
        </div>
        <div class="hero" cache-src="img/sign.png" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center" on-finish="acceptStyle" ng-style="myStyle" style="background-size:contain;" ng-if="storeitem.menue_pic == '0'">
            <div class="content">
                <h4 class="stolletextred" style="text-shadow:1px 1px 2px #fff;">{{htmlEntities(storeitem.menue_name)}}</h4>
            </div>
        </div>
        <div ng-if="outside" class="mid-bar stollebackdarkred z1 padding">
            <button class="button button-clear flat" style="font-family: myfont4;padding:0px;"><p class="button-pagraph"><strong class="light">{{pieces}}</strong><br/><span class="light">{{'store_detail_amount_txt' | translate}}</span></p></button>

            <button class="button button-clear light flat" style="font-family: myfont4;padding:0px;" ng-click="subcart();"><i class="icon ion-minus-round light"></i></button>

            <button class="button button-clear flat" style="font-family: myfont4;padding:0px;"><p class="button-pagraph"><strong id="addcartbtn" class="light">{{recalc(storeitem.menue_cost)}} {{'store_detail_money' | translate}}</strong><br/><span class="light">{{'store_detail_amount' | translate}}</span></p></button>

            <button class="button button-clear flat" style="font-family: myfont4;padding:0px;" ng-click="addcart();" ng-style="btnclass"><i class="icon ion-plus-round light"></i></button>
        </div>
        <div class="content double-padding">
             <!--<h4 class="positive">{{storeitem.desc}}</h4> 
             <h4>Описание:</h4> -->
            <h4 class="stolletextred">{{htmlEntities(storeitem.menue_desc)}}</h4>

            <h4 ng-if="!outside" ng-if="storeitem.menue_weight != 0" class="outline padding inline img-rounded pull-left stolletextred">{{recalc(storeitem.menue_cost)}} {{'store_detail_money' | translate}}</h4>

            <h4 ng-if="storeitem.menue_weight != 0" class="outline padding inline img-rounded pull-right stolletextred">{{storeitem.menue_weight}} {{'store_detail_weight' | translate}}</h4>

            <!-- <h4>{{getcart}}</h4> -->
            
        </div>
        <p>&nbsp;</p>
    </ion-content>

    <div class="bar bar-footer">
        <button class="bar bar-footer bar-clear ink-dark stollebackred" ui-sref="app.store-confirm({orderType: 0})">
            <p class="title">{{'store_buy_go_basket' | translate}}<p>
        </button>
    </div>

</ion-view>
