<ion-view view-title="">
  
    <ion-content class="contentbackgrnd2">
      <br/>
      <div class="item card-item" ng-if="order == 0">
        <div class="card stollebackred light item-text-wrap padding">
            {{'store_confirm_cart_empty' | translate}}
        </div>
      </div>
      <div class="item card-item" ng-if="order != 0">
        <div class="card stollebackred light item-text-wrap padding">
            {{'store_confirm_delivery_cost' | translate}}
        </div>
      </div>
      <div class="card list clear-bg" ng-if="order != 0" ng-repeat="cart in carts track by $index" cache-src="http://www.olegtronics.com/admin/img/menu/{{cart.inst}}/300/{{cart.pic}}" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center" on-finish="acceptStyle" ng-style="myStyle">
        <div class="item item-divider" style="background-color:rgba(0,0,0,0.5);margin:0;">
            <a class="item-icon-right" style="font-size:14px;" ng-click="remfromcart(cart);">
                <i class="icon ion-close-round light" style="font-size:14px;"></i>
            </a>
        </div>
        <div class="item item-text-wrap" style="background-color:rgba(0,0,0,0.5);margin:0;">
            <h2 class="light">{{htmlEntities(cart.name)}}</h2>
            <!-- <h2 class="light">{{cart.cost}} {{'store_confirm_money' | translate}}</h2> -->
            <!-- <h6 class="light">{{cart.weigh}} {{'store_confirm_weight' | translate}}</h6> -->
            <!--  <button class="button button-small button-outline button-energized" style="float:left;padding:1px;" ng-if="cart.cat == 9 || cart.cat == 1" ng-repeat="ingrs in getingrs($index) track by $index"><img cache-src="http://www.olegtronics.com/pizzatempo/img/{{ingrs.pic}}" style="width:30px;height:30px;"></button> -->
            <h6 class="light">{{htmlEntities(cart.desc)}}</h6>
        </div>
        <div class="item item-text-wrap" style="background-color:rgba(0,0,0,0.5);margin:0;">
            <button class="button button-clear button-light flat waves-effect waves-button waves-light icon ion-minus-round" ng-click="subcart(cart);" style="padding:0px;"></button>
            <button class="button button-clear flat waves-effect waves-button waves-light" style="padding:0px;"><p class="button-pagraph"><strong class="light">{{cart.quantity}}</strong><br/><span class="light">{{'store_confirm_amount' | translate}}</span></p></button>
            <button class="button button-clear button-light flat waves-effect waves-button waves-light icon ion-plus-round" ng-click="addcart(cart);" style="padding:0px;"></button>
            <button class="button button-clear button-light flat waves-effect waves-button waves-light pull-right" style="padding:0;">
              <h2 class="light">{{cart.cost}} {{'store_confirm_money' | translate}}</h2>
              <h6 class="light">{{cart.weigh}} {{'store_confirm_weight' | translate}}</h6>
            </button>
        </div>
      </div>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </ion-content>

    <div class="tabs tabs-icon-left stollebackred">
      <a class="tab-item light" style="font-size:14px;">
        {{order}} {{'store_confirm_money' | translate}}
      </a>
      <a class="tab-item light">
        &nbsp;
      </a>
      <a class="tab-item light" style="font-size:14px;" ng-click="gotoBuy()">
        <strong>{{'store_confirm_ready' | translate}}</strong>
      </a>
    </div>
</ion-view>
