<ion-view view-title="">
    <ion-content class="contentbackgrnd2">

        <div class="list half" ng-if="allStore[0].menue_costs.length == 1 && allStore[0].menue_interval == '0' && allStore[0].menue_cost != '0' && storeLoaded">

            <div class="card card-gallery item item-text-wrap" ng-repeat="store in allStore" ng-if="$even">
                <h3 class="labelbackcolor light padding equalex" style="margin-bottom:0px;">{{htmlEntities(store.menue_name)}}</h3>
                <a nav-transition="none" ui-sref="app.store-detail({storeId: store.menue_id, storeSize: 1})" style="margin-top:0px;">
                    <img class="full-size" style="opacity:.9 !important;margin:0px auto;max-height:300px;" cache-src="http://www.olegtronics.com/admin/img/menu/{{store.menue_institution}}/300/{{store.menue_pic}}" ng-if="store.menue_pic != '0'" />
                    <img class="full-size" style="opacity:.9 !important;margin:0px auto;max-height:300px;" cache-src="img/sign.png" ng-if="store.menue_pic == '0'" />
                     <button ng-if="pieces(store.menue_id) > 0" class="button button-fab button-assertive" style="position:absolute;text-decoration:none !important;top:20%;right:5px;">{{pieces(store.menue_id)}}</button> 
                </a>

                <div class="labelbackcolor light padding"><h3><strong>{{recalc(store.menue_cost, store.menue_discount)}} {{'store_money' | translate}}</strong></h3><table ng-if="store.menue_discount > 0" style="position:absolute;text-decoration:none !important;bottom:5px;right:5px;"><tr><td><button class="button button-fab button-energized">-{{store.menue_discount}}%</button></td></tr><tr><td><h4 class="light">Акция</h4></td></tr></table></div>
            
            </div>

            <p>&nbsp;</p>

        </div>
        <div class="list half" ng-if="allStore[0].menue_costs.length == 1 && allStore[0].menue_interval == '0' && allStore[0].menue_cost != '0' && storeLoaded">

            <div class="card card-gallery item item-text-wrap" ng-repeat="store in allStore" ng-if="$odd">
                <h3 class="labelbackcolor light padding equalex" style="margin-bottom:0px;">{{htmlEntities(store.menue_name)}}</h3>
                <a nav-transition="none" ui-sref="app.store-detail({storeId: store.menue_id, storeSize: 1})" style="margin-top:0px;">
                    <img class="full-size" style="opacity:.9 !important;margin:0px auto;max-height:300px;" cache-src="http://www.olegtronics.com/admin/img/menu/{{store.menue_institution}}/300/{{store.menue_pic}}" ng-if="store.menue_pic != '0'" />
                    <img class="full-size" style="opacity:.9 !important;margin:0px auto;max-height:300px;" cache-src="img/sign.png" ng-if="store.menue_pic == '0'" />
                     <button ng-if="pieces(store.menue_id) > 0" class="button button-fab button-assertive" style="position:absolute;text-decoration:none !important;top:20%;right:5px;">{{pieces(store.menue_id)}}</button> 
                </a> 

                <div class="labelbackcolor light padding"><h3><strong>{{recalc(store.menue_cost, store.menue_discount)}} {{'store_money' | translate}}</strong></h3><table ng-if="store.menue_discount > 0" style="position:absolute;text-decoration:none !important;bottom:5px;right:5px;"><tr><td><button class="button button-fab button-energized">-{{store.menue_discount}}%</button></td></tr><tr><td><h4 class="light">Акция</h4></td></tr></table></div>
            
            </div>

            <p>&nbsp;</p>

        </div>

        <p ng-if="allStore[0].menue_interval != '0' && storeLoaded">&nbsp;</p>

    </ion-content>

    <div class="bar bar-footer">
        <button class="bar bar-footer bar-clear ink-dark stollebackred" ui-sref="app.store-confirm({orderType: 0})">
            <p class="title">{{'store_buy_go_basket' | translate}}<p>
        </button>
    </div>
    
</ion-view>