<ion-view view-title="">
    <ion-content id="support" class="contentbackgrnd">
        <div class="hero has-mask" cache-src="http://www.olegtronics.com/admin/img/icons/support.jpg" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center" on-finish="acceptStyle" ng-style="myStyle" style="background-size:cover;">
            <div class="content">
                <h3 class="light">{{'support_top' | translate}}</h3>
            </div>
        </div>
        <div class="button-bar">

            <a onclick="window.open('tel:7978', '_system', 'location=yes')" class="button stollebackdarkred icon-top ion-android-call light"> {{'support_call' | translate}}</a>
            <!-- <a href="tel:{{'org_phone2' | translate}}" target="_blank" class="button button-calm icon-top ion-android-phone-portrait"> {{'support_call' | translate}}</a> -->

        </div>

        <div ng-repeat="message in messages" ng-class="{other: message.chat_from != myID}" class="messages">

            <div class="message">
              <span>{{ message.chat_message }}</span>
            </div>

        </div>

    </ion-content>

    <ion-footer-bar class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="{{'support_your_message' | translate}}" ng-model="data.message" />
      </label>
      <button class="button button-balanced icon ion-chevron-right" ng-click="sendMessage()"></button>
    </ion-footer-bar>

</ion-view>
