<ion-view view-title="">
    <ion-content class="contentbackgrnd">
        <div class="hero" cache-src="img/background/back_login.jpg" src-is="background" background-style="no-repeat center" background-loading-style="url('lib/ionic-cache-src/img/loader.gif') no-repeat center" on-finish="acceptStyle" ng-style="myStyle" style="background-size:cover;">
            <div class="content">
                <img ng-src="img/background/top_back.png" width="70%" >
            </div>
        </div>
        <div class="mid-bar clear-bg z1 padding">
            <h2 class="stolletextdarkred">{{'terms_use' | translate}}</h2>
            <!-- <p>{{'terms_bonus' | translate}} {{'org_name' | translate}}</p> -->
            <p class="stolletextdarkred">{{'terms_loyality_body2' | translate}}<br/>{{'terms_loyality_body3' | translate}}<br/>{{'terms_loyality_body4' | translate}}<br/>{{'terms_loyality_body5' | translate}}<br/>{{'terms_loyality_body6' | translate}}<br/>{{'terms_loyality_body9' | translate}}<br/>{{'terms_loyality_body11' | translate}}<br/>{{'terms_loyality_body12' | translate}}<br/>{{'terms_loyality_body13' | translate}}<br/>{{'terms_loyality_body14' | translate}}<br/>{{'terms_loyality_body15' | translate}}</p>
        </div>
        <!-- <button ng-click="openLoyalityModal();" class="button button-fab button-fab-bottom-right button-assertive icon ion-information waves-effect waves-button waves-light"></button> -->
    </ion-content>
</ion-view>
