/* General
==================================*/
/*h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}*/


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    /*transition: all .5s ease-in-out;*/
}

.menu-open .bar.bar-header.expanded {
    /*background-color: #007EFF;*/
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    /*transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;*/
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/logotype.png') center;
    background-size: contain;
    background-repeat: no-repeat;
    /*border-radius: 50%;*/
    height: 170px;
    margin: 0 auto;
    /*width: 125px;*/
    max-width: 50%;
}

.social-login {
    position: fixed;
    bottom: 0;
}

.slider{
  height: 100%;
  text-align: center;
}

.slider-pager-page {
    color: #ffffff !important;
}

.slider-pager-page.active {
    color: #FF7F00 !important;
}

/* ============================== My Style */

ion-nav-view { background-color: transparent !important; }

/* ============================== Calculator */

#calc .main-wrap{
  max-width: 100%;
  margin:auto
}
#calc .row, .col{
  text-align:center;
}
#calc .col{
  margin: 0;
  border-radius: 0;
  padding:0;
}

qr img {
  display: inline-block !important;
}

/* ============================== Rating */

.rating li {
  display:inline-block;
  font-size:30px;
  padding:5px;
}

/* ============================== Popup */

.popup-buttons .button
{
  font-size: 8px;
  padding: 0px 15px;
}

/* ============================== Constructor */
.constr {
  display:block;
  position:absolute;
  bottom:0px;
  left:0px;
  right:0px;
  margin:auto;
  background:transparent;
  border-top:1px;
  border-right:1px;
  border-left:1px;
  border-color: #ff0000;
  border-style:dashed;
  text-align: center;
  color:#000;
}

.constrsel {
  display:block;
  position:absolute;
  bottom:0px;
  left:0px;
  right:0px;
  margin:auto;
  background:#FF9800;
  border-top:1px;
  border-right:1px;
  border-left:1px;
  border-color: #fff;
  border-style:dashed;
  text-align: center;
  color:#fff;
}

div#i1{
  z-index:4;
}
div#i2{
  z-index:3;
}
div#i3{
  z-index:2;
}
div#i4{
  z-index:1;
}

/* ============================== ButtonTextWrap */

.button-pagraph {
  line-height: 1.5em;
  color:#fff;
}

.slider{
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important ;
  right: 0 !important;
}

.floatright {
  float:right;
}

.loadanim {
    display: block;
    z-index: 999999;
    top: 5%;
    bottom:5%;
    left: 5%;
    right: 5%;
    position: absolute;
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
    border:none;
    width: 100px;
    height: 100px;
    padding: auto;
    margin:auto;
}


#support .scroll {
  padding: 10px 0 50px !important;
}
#support .messages {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-content: center !important;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  margin-bottom: 20px !important;
}
#support .message {
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 1 auto !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  padding: 10px !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  overflow: hidden !important;
  text-align: left !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

#support .other .message {
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  text-align: right !important;
}
#support .other span {
  color: black !important;
  background-color: #C7C7CC !important;
}
#support span {
  background: #007AFF !important;
  display: inline-block !important;
  color: white !important;
  padding: 10px !important;
  border-radius: 10px !important;
  text-align: left !important;
  max-width: 240px !important;
}

.title {
  transition-duration: 0ms !important;
  transform: translate3d(0px, 0px, 0px) !important;
  text-align: center !important;
}

.centering {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute !important;
    margin:0 auto;
    width:100%;
}

.ion_truck {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size:contain;
  height:70%;
  background-image: url('../img/btn/truck.png');
  width:40px;
}

.devsicon .icon.ion_developers {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size:contain;
  height:70%;
  background-image: url('../img/btn/echo.png');
  width:40px;
}

.notfilled {
  border-bottom:1px solid #ff0000 !important;
}

.icon.ion_vk {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size:contain;
  height:70%;
  background-image: url('../img/btn/vk.png');
  width:40px;
}

.rub {
  display: inline-block; 
  font-size: 14px; 
  line-height: 4px;
  border-bottom: 1px solid #000000;
  width:0.4em;
  color:#000;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.bar-beard {
  top: 110px !important;
}

.has-beard {
  top: 230px !important;
}

.devsicon .icon.hairbrush_1 {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size:contain;
  background-image: url('../img/btn/hairbrush_1.png');
  width:37px;
  height:40px;
  left:25%;
  top:10px;
}

.devsicon .icon.hairbrush_2 {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size:contain;
  background-image: url('../img/btn/hairbrush_2.png');
  width:37px;
  height:40px;
  left:25%;
  top:10px;
}

.devsicon .icon.hairbrush_3 {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size:contain;
  background-image: url('../img/btn/hairbrush_3.png');
  width:37px;
  height:40px;
  left:25%;
  top:10px;
}

.whitebordertext {
  text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #FFF, 0 0 0.2em #FFF
}

.greenbackground {
  background-color:#619e81 !important;
}

.greentext {
  color:#619e81 !important;
}

.top108 {
  top: 108px !important;
}

.avatarhc {
  min-height: 80px !important;
}

.back-text {
  display: none !important;
}

.allsmall {
  border:none;
  background-color:#c12324;
  min-height: 0px;
  line-height: 0px;
  font-size:14px;
  max-height: 25px;
  max-width:50px;
  padding:0px 10px;
  margin-top:-3px;
}

.buttomgreen {
  text-align:center;
  background-color: #3da38b;
  text-transform: uppercase;
  color:#fff;
  font-weight:bold;
  padding:10px;
}

.buttomred {
  text-align:center;
  background-color: #c12324;
  text-transform: uppercase;
  color:#fff;
  font-weight:bold;
  padding:10px;
}

.buttomwhite {
  text-align:center;
  background-color: #fff;
  text-transform: uppercase;
  color:#000;
  font-weight:bold;
  padding:10px;
}

.contentbackgrnd {
  /*background-image:url('../img/background/back_login.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position: right top;*/
  background-color:#f7f3f2;
}

.contentbackgrnd2 {
  background-color:#F2EEED;
}

.contentbackgrnd3 {
  background-color:#F8F7F5;
}

.stolletextred {
  color: #ad3f09 !important;
}

.stolletextdarkred {
  color: #7b2b12 !important;
}

.stollebackred {
  background-color: #ad3f09 !important;
}

.stollebackdarkred {
  background-color: #7b2b12 !important;
}

.stollebuttomred {
  text-align:center;
  background-color: #ad3f09;
  text-transform: uppercase;
  color:#fff;
  font-weight:bold;
  padding:10px;
}

.stolleallsmall {
  border:none;
  background-color:#ad3f09;
  min-height: 0px;
  line-height: 0px;
  font-size:14px;
  max-height: 25px;
  max-width:50px;
  padding:0px 10px;
  margin-top:-3px;
}

.stollenavbarbackimg .bar {
  background-image: url('../img/btn/main_horizontal_divider.jpg');
  background-size: contain;
  background-position: center center;
  background-color:#f7f3f2 !important;
  background-repeat: repeat-x;
}

.stollenavbarbackimg .bar .title {
  color: #fff;
  /*overflow: visible;*/
}

.stollenavbarbackimg .bar .back-button {
  color: #fff;
}

.square {
  width: 100% !important;
  height:0 !important;
  padding: 0 0 100% 0 !important;
}

.button.icon.ion-backspace-outline::before {
  font-size:100%;
  line-height: 200%;
}

.qrcodeString canvas {
  margin: 0 auto;
  text-align: center;
}

.verticalalign {
  height: 100%;
  display: block;
  vertical-align: middle;
}

/*.platform-ios.platform-cordova:not(.fullscreen) .contentbackgrnd2.has-header {
  top:0px; 
}

.platform-ios.platform-cordova:not(.fullscreen) .contentbackgrnd3.has-header {
  top:0px; 
}*/

.labelback {
  background-image:url('../img/btn/label.png');
  background-size:100% 100%;
  background-repeat:no-repeat;
  background-position: center center;
  background-color:rgba(0, 0, 0, 0);
  padding:2px;
  text-align: center;
}

.labelbackcolor {
  background-color:#353533;
}

.pointsback {
  background-image:url('../img/background/pointsback.png');
  background-size:100% 100%;
  background-repeat:no-repeat;
  background-position:center center;
}

.stollenavbarbackimg .bar {
  background-image: url('../img/btn/main_horizontal_divider.jpg');
  background-size: contain;
  background-position: center center;
  background-color:#f7f3f2 !important;
  background-repeat: repeat-x;
}
